.not-found {
    width: 100%;

    &__container {
        @extend .container;
        
        @include desktop-and-up {
            min-height: 600px;
        }
    }

    &__title {
        font-family: $title-font;
        font-size: remCalc(32);
        line-height: 40px;
        margin-top: 16px;
        text-align: left;
        width: 100%;

        @include tablet-and-up {
            font-size: remCalc(36);
            line-height: 43px;
            margin-top: 32px;
        }

        @include desktop-and-up {
            font-size: remCalc(48);
            line-height: 56px;
            margin-top: 64px;
        }
    }
}