.activity {
    margin-top: 66px;
    width: 100%;

    &__container {
        @extend .container;
    }

    &__title {
        color: $color-off-black;
        font-family: $title-font;
        font-size: remCalc(32);
        font-weight: 500;
        line-height: 40px;
        margin: 0;
        margin-top: 30px;

        @include tablet-and-up {
            font-size: remCalc(36);
            line-height: 43px;
        }

        @include desktop-and-up {
            font-size: remCalc(48);
            line-height: 48px;
        }
    }


    &__info {
        display: flex;
        flex-direction: column;
        margin-top: 32px;

        @include desktop-and-up {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__left-column {
        width: 100%;

        @include desktop-and-up {
            max-width: 703px;
        }
    }

    &__right-column {
        margin-top: 32px;
        width: 100%;

        .group__card {
            margin-top: 32px;

            &:first-of-type {
                margin-top: 0;
            }
        }

        @include desktop-and-up {
            margin-left: 40px;
            margin-top: 0;
            max-width: 388px;
            width: 50%;
        }
    }

    &__card {
        background-color: $color-white;
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        overflow: hidden;

        &.group__card--community-link {
            height: 88px;
        }

        &.group__card--table {
            .group__card-content {
                padding: 0;
            }
        }

        &.activity__card--conversation,
        &.activity__card--flow,
        &.activity__card--video {
            margin-top: 32px;
        }
    }

    &__card-content {
        padding: 16px;

        @include tablet-and-up {
            padding: 24px;
        }

        @include desktop-and-up {
            padding: 32px;
        }

        &--small {
            padding: 16px 16px 0 16px; 

            @include tablet-and-up {
                padding: 24px 24px 0 24px; 
            }
            @include desktop-and-up {
                padding: 32px 32px 0 32px; 
            }
        }

        p {
            font-size: remCalc(16);
            line-height: 24px;
        }

        a {
            color: $color-blue-50;
        }


        span {
            color: $color-gray-secondary;
            display: inline-block;
            font-size: remCalc(14);
            line-height: 24px;
            position: relative;
            width: 100%;
        }
    }

    &__card-image {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        height: 100%;
        max-height: 298px;
        min-height: 128px;
        position: relative;
        width: 100%;

        @include tablet-and-up {
            height: 298px;
        }

        @include desktop-and-up {
            height: 328px;
        }
    }

    &__cta-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        @include tablet-and-up {
            flex-direction: row;
            justify-content: space-between;
        }

        .activity__cta {
            background-color: $color-blue-50;
            border-radius: 28px;
            color: $color-white;
            flex-shrink: 0;
            font-size: remCalc(16);
            height: 48px;
            line-height: 18px;
            margin-bottom: 16px;
            min-width: 160px;
            padding: 15px 33px;
            text-align: center;
            text-decoration: none;
    
            &.activity__cta--share {
                background-color: $color-white;
                border: 2px solid $color-blue-50;
                border-radius: 28px;
                color: $color-blue-50;
                font-size: remCalc(16);
                height: 48px;
                line-height: 18px;
                min-width: 160px;
                padding: 15px 33px;
                padding-left: 55px;
                position: relative;
                text-align: center;
                text-decoration: none;
                  
                svg {
                    left: 33px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
    
                @include desktop-and-up {
                    margin-left: 8px;
                }
            }
        }
    }

    &__video-container {
        height: 0;
        padding-bottom: 56.25%;
        padding-top: 0;
        position: relative;
    }

    &__video {
        border: 0;
        height: 100%;
        position: absolute;
        width: 100%;
    }

    &__card-title {
        font-family: $title-font;
        font-size: remCalc(24);
        font-weight: 500;
        line-height: 32px;
        margin: 0;
        margin-bottom: 16px;
        margin-top: 32px;
        padding: 0;
    }

    &__accordion {
        background-color: $color-white;
        height: 100%;
        margin: 0;
        min-height: 0;
        width: 100%;
    }

    &__accordion-container {
        background: $color-white;
        border: 2px solid $color-gray-20;
        border-radius: 4px;
        box-sizing: border-box;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.04);
        margin-top: 24px;
        padding: 24px;
    }

    &__accordion-label {
        color: $color-blue-50;
        cursor: pointer;
        display: block;
        font-size: remCalc(20);
        height: auto;
        line-height: 28px;
        position: relative;
    }

    &__accordion-input {
        display: none;
    }

    &__accordion-input + &__accordion-label {
        transition: opacity 0.5s ease-in;

        &:after {
            background-color: $color-blue-50;
            content: '';
            display: block;
            height: 3px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 17px;
        }

        &:before {
            background-color: $color-blue-50;
            content: '';
            height: 16px;
            opacity: 1;
            position: absolute;
            right: 7px;
            top: 6px;
            width: 3px;
        }
    }

    &__accordion-input + &__accordion-label + &__accordion-content {
        opacity: 0;
        transition: opacity 0.5s ease-in;
    }


    &__accordion-input:checked + &__accordion-label {

        &:after {
            content: '';
            background-color: $color-blue-50;
            display: block;
            height: 3px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 17px;
        }

        &:before {
            opacity: 0;
            transition: all 0.5s ease-in;
        }
    }

    &__accordion-input:checked + &__accordion-label + &__accordion-content {
        opacity: 1;
    }

    &__accordion-content {
        font-size: remCalc(16);
        height: 0;
        line-height: 24px;
        max-height: auto;
        overflow: hidden;
        position: relative;

        p {
            margin-bottom: 8px;
        }
    }

    &__accordion-input:checked ~ .activity__accordion-content {
        height: auto;
        margin-top: 24px;
        overflow: visible;
        padding-bottom: 2px;
    }

    &__tags {
        height: 100%;
        margin-bottom: 24px;
        margin-top: 16px;
        width: 100%;

        @include desktop-and-up {
            margin-bottom: 32px;
        }

        .activity__tag {
            background-color: $color-gray-20;
            border-radius: 50px;
            color: $color-gray-80;
            display: inline-block;
            font-size: remCalc(14);
            line-height: 20px;
            margin-bottom: 8px;
            max-width: 155px;
            padding: 10px 15px;
            text-align: center;
            text-decoration: none;
            width: auto;
        }
    }



}