.activities {
    width: 100%;

    &__container {
        @extend .container;
        align-content: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        z-index: 50;

        @include tablet-and-up {
            margin-top: -28px;
        }
    }

    &__hero {
        background-color: $color-red-5;
        height: 384px;
        padding: 0 $mobile-padding;
        width: 100%;

        @include tablet-and-up {
            background-image: url('./images/activities.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right -50px bottom -10px;
            height: 404px;
            padding: 0 $tablet-padding;
        }
        
        @include desktop-and-up {
            background-image: none;
            height: 332px;
            padding: 0 $desktop-padding;
        }
    }

    &__hero-container {
        @extend .container; 
        background-repeat: no-repeat;
        height: 100%;
        justify-content: center;
        max-width: 1228px;
        padding: 0;
        padding-top: 24px;
        position: relative;
        text-align: center;

        @include tablet-and-up {
            display: flex;
            flex-direction: column;
            padding-top: 0;
            text-align: left;
        }

        @include desktop-and-up {
            background-image: url('./images/activities.png');
            background-position: right center;
            background-size: contain;
        }

    }

    &__hero-link {
        color: $color-black;
    }

	&__link {
		display: block;
		height: 100%;
		position: relative;
		text-decoration: none;
	}
    &__title {
        @extend .hero-title;

        &:after {
            background-color: $color-red-50;
        }
    }

    &__hero-copy {
        @extend .hero-copy;

        @include desktop-and-up {
            max-width: 493px;
        }
	}
	
	.activities__column {
		@include tablet-and-up {
			max-width: calc(50% - 16px);
		}
		@include desktop-and-up {
			max-width: calc(33.33% - 22px);
		}
	}
	.activities__column:nth-of-type(3n) {
		@include tablet-and-up {
			margin-right: 16px;
		}
		@include desktop-and-up {
			margin-right: 0;
		}
	}

	.activities__column:nth-of-type(2n + 1)  {
		//@include tablet-and-up {
		@media (min-width: $screen-tablet-min) and (max-width: $screen-desktop-min) {
			margin-left: 0;
			margin-right: 16px;
		}
	}

	.activities__column:nth-of-type(3n + 1) {
		@include desktop-and-up {
			margin-left: 0;
		}
	}

	.activities__column:nth-of-type(2n) {
		@media (min-width: $screen-tablet-min) and (max-width: $screen-desktop-min) {
			margin-right: 0px;
		}
	}

    .activities__column {
		margin: 16px 0;
		@include tablet-and-up {
			max-width: calc(50% - 16px);
			margin: 32px 16px;
		}
		@include desktop-and-up {
			max-width: calc(33.33% - 22px);
		}
	}

    &__activities {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include tablet-and-up {
			flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-start;
        }

        &:after {
            content: '';
            flex: auto;
        }
    }

    &__card {
        background-color: $color-white;
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 24px;
        text-decoration: none;
        transition: box-shadow 0.3s ease-in-out;
		width: 100%;
		display: block;
		height: 100%;
		position: relative;
        &.groups__card--homepage {
            height: 100%;
            max-height: 435px;
        }


        @include tablet-and-up {
            flex: 0 48%;
            margin-right: 4%;

            &:nth-of-type(2n) {
                margin-right: 0;
            }
        }

        @include desktop-and-up {
            flex: 0 32%;
            margin-right: 2%;

            &:nth-of-type(2n) {
                margin-right: 2%;
            }

            &:nth-of-type(3n) {
                margin-right: 0;
            }
        }

        &:hover {
            box-shadow: 0 0 0 4px #d7d7db;
        }
    }

    &__activity-image {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
		padding-top: 45.4%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: auto;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
    }

    &__activity-title {
        color: $color-black;
        font-family: $title-font;
        font-size: remCalc(24);
        line-height: 32px;
        margin: 0;
        margin-bottom: 16px;
        padding: 0;
    }

    &__card-content {
        color: $color-gray-secondary;
        display: flex;
        flex-direction: column;
		flex-grow: 1;
        font-size: remCalc(14);
		height: 100%;
        justify-content: flex-start;
        line-height: 20px;
		padding: 24px 32px;	
        padding-top: calc(45.4% + 24px);
        margin-bottom: 16px;
    }

    &__tag-container {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-top: auto;

        svg {
            margin-left: 16px;
        }
    }

    &__tag {
        background-color: $color-gray-20;
        border-radius: 50px;
        color: $color-gray-80;
        font-size: remCalc(12);
        line-height: 16px;
        padding: 6px 12px;
    }

    &__time-commitment {
        margin-left: 10px;
    }

    &__copy {
        padding: 0;
        margin: 0;
    }

    &__pagination {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 40px;
        width: 100%;
    }

    &__pagination-container {
        align-items: center;
        color: $color-black;
        display: flex;
        flex-direction: row;
        font-size: remCalc(14);
        height: 24px;
        justify-content: space-between;
        line-height: 22px;
        max-width: 324px;
        width: 100%;
    }

    &__pagination-link {
        color: $color-black;
        font-size: remCalc(14);
        line-height: 22px;
        margin-right: 1em;
        text-decoration: none;

        &.activities__pagination-link--active {
            position: relative;

            &:after {
                content : '';
                position: absolute;
                border-bottom: 1px solid $color-black;
                bottom: -2px;
                display: block;
                width: 100%;
                left: 0;
            }
        }

    }
}