.container {
    padding: 0 $mobile-padding;
    min-width: $screen-mobile-min;
    max-width: $page-max-width;
    width: 100%;
    margin: 0 auto;

    @include tablet-and-up {
        padding: 0 $tablet-padding;    
    }

    @include desktop-and-up {
        padding: 0 $desktop-padding;
    }
}

.error {
    border: 1px solid red;
}