.btn {
    background: none;
    border: 1px solid $color-blue-50;
    display: inline-block;
    transition: background-color 0.2s ease-in;
    -webkit-appearance: none;

    &:focus,
    &:hover {
        background-color: $color-white;
        color: $color-blue-50;
        cursor: pointer;
    }

    &--large {
        font-weight: lighter;
        line-height: 22px;
        padding: 10px 0;
        width: 100%;
    }

    &--light {
        border: 1px solid $color-blue-50;
        border-radius: 28px;
        color: $color-blue-50;

        &:focus,
        &:hover {
            background-color: $color-blue-50;
            color: $color-white;
            svg {
                path {
                    stroke: $color-white;
                }
            }
        }

        
    }

    &--dark {
        border: 1px solid $color-blue-50;
        background: $color-blue-50;
        color: white;
    }

    &--submit {
        border-radius: 28px;
        padding: 15px 35px;

    }

    &--small {
        border-radius: 28px;
        padding: 10px 32px;
        text-align: center;
        width: 100%;

        @include tablet-and-up {
            width: auto;
        }
        @include desktop-and-up {
            padding: 15px 48px;
        }
    }

    &--share {
        padding: 9px 24px;
    }
}
