.btn {
    background: none;
    border: none;
    display: inline-block;
    -webkit-appearance: none;

    &:hover {
        cursor: pointer;
    }

    &--large {
        font-weight: lighter;
        line-height: 22px;
        padding: 10px 0;
        width: 100%;
    }

    &--light {
        border: 1px solid $color-blue-50;
        border-radius: 28px;
        color: $color-blue-50;
    }

    &--dark {
        border: 1px solid $color-blue-50;
        background: $color-blue-50;
        color: white;
    }

    &--submit {
        border-radius: 28px;
        padding: 15px 35px;
    }

    &--small {
        border-radius: 28px;
        padding: 10px 32px;
        text-align: center;
        width: 100%;

        @include tablet-and-up {
            width: auto;
        }
        @include desktop-and-up {
            padding: 15px 48px;
        }
    }

    &--share {
        padding: 9px 24px;
    }
}
