.create-group {
    width: 100%;

    &__hero {
        background-color: $color-blue-5;
        height: 253px;
        padding: 0 $mobile-padding;
        padding-top: 33px;
        width: 100%;

        @include tablet-and-up {
            height: 255px;
            padding: 0 $tablet-padding;
            padding-top: 48px;
        }
        
        @include desktop-and-up {
            height: 292px;
            padding: 0 $desktop-padding;
            padding-top: 58px;
        }

    }

    &__hero-container {
        margin: 0 auto;
        max-width: $container-max-width;
        width: 100%;
    }

    &__container {
        @extend .container; 

        margin-top: -135px;
        max-width: $container-max-width;
        padding: 0;
        width: 100%;

        @include tablet-and-up {
            margin-top: -155px;
        }
    }

    &__nav {
        background-color: $color-white;
        border: 1px solid $color-gray-10;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 69px;
    }

    &__required {
        font-size: remCalc(14);
        line-height: 22px;
        margin-top: 35px;
        text-align: right;
    }

    &__form {
        width: 100%;
        padding: 0 $mobile-padding;

        @include tablet-and-up {
            padding: 0 $tablet-padding;
        }

        @include desktop-and-up {
            padding: 0 $desktop-padding;
        }
    }

    &__menu {
        display: none;
        @include tablet-and-up {
            align-items: center;
            border-top: 1px solid $color-gray-30;
            border-bottom: 1px solid $color-gray-30;
            display: flex;
            flex-direction: row;
            height: 58px;
            margin: 0;
            margin-top: 35px;
            padding: 0;
            width: 100%;
        }

        &.create-group__menu--mobile {
            border-top: 1px solid $color-gray-30;
            border-bottom: 1px solid $color-gray-30;
            display: flex;
            flex-direction: column;
            height: 56px;
            justify-content: center;
            position: relative;

            &:after {
                bottom: 0;
                border-bottom: 2px solid $color-black;
                content: '';
                display: block;
                left: 0;
                position: absolute;
                width: 100%;
            }

            .create-group__select-container {
                margin: 0;
   
                .create-group__select {
                    appearance: none;
                    background-color: transparent;
                    background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g><path d="M8.12499 9L12.005 12.88L15.885 9C16.275 8.61 16.905 8.61 17.295 9C17.685 9.39 17.685 10.02 17.295 10.41L12.705 15C12.315 15.39 11.685 15.39 11.295 15L6.70499 10.41C6.51774 10.2232 6.41251 9.96952 6.41251 9.705C6.41251 9.44048 6.51774 9.18683 6.70499 9C7.09499 8.62 7.73499 8.61 8.12499 9Z" fill="black" fill-opacity="0.54"/></g></svg>');
                    background-position: calc(100% - 10px) center;
                    background-repeat: no-repeat;
                    background-size: 25px;
                    border: none;
                    box-shadow: none;
                    -webkit-appearance: none;
                }
            }

            @include tablet-and-up {
                display: none;
            };
        }
    }

    &__menu-item {
        font-size: remCalc(14);
        font-weight: 600;
        line-height: 22px;
        margin: 0;
        margin-left: 15px;
        margin-right: 35px;
        position: relative;
        width: auto;

        &--disabled {
            font-weight: 400;
            text-decoration: none;

            &:after {
                display: none;
            }
        }

        &--right {
            list-style-type: none;
            margin-left: auto;
            margin-right: 0;
        }

    }

    &__details {
        background-color: $color-white;
        border: 1px solid $color-gray-10;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
        display: flex;        
        flex-wrap: wrap;
        margin-top: 16px;
        padding: 24px 32px;
        justify-content: flex-start;
        width: 100%;

        @include tablet-and-up {
            flex-direction: row;
            min-width: 640px;
            margin-top: 24px;
            padding: 48px 55px;
        }

        @include desktop-and-up {
            max-width: none;
            padding: 80px 105px; 
            width: 100%;

            &:first-of-type {
                margin-top: 24px;
            }
        }


        &--hidden {
            display: none;
        }

    }

    &__title {
        display: block;
        font-family: $title-font;
        font-size: remCalc(32);
        font-weight: 300;
        line-height: 40px;
        margin: 0;
        padding: 0;
        width: 100%;

        @include tablet-and-up {
            font-size: remCalc(36);
            line-height: 43px;
        }

        @include desktop-and-up {
            font-size: remCalc(48);
            line-height: 56px;
        }
    }

    &__section-title {
        align-items: center;
        color: $color-black;
        display: flex;
        flex-direction: row;
        font-size: remCalc(20);
        font-weight: 600;
        justify-content: flex-start;
        line-height: 28px;

        svg {
            flex-shrink: 0;
            margin-left: 8px;
        }
    }

    &__menu-link {
        color: $color-black;
        font-size: remCalc(14);
        font-weight: 600;
        line-height: 22px;
        position: relative;
        text-decoration: none;

        &:after {
            content: '';
            border-top: 2px solid $color-black;
            bottom: -19px;
            left: -15px;
            position: absolute;
            width: 112%;
        }

        &.create-group__menu-link--disabled {
            font-weight: 400;

            &:after {
                display: none;
            }
        }
    }

    &__input-container {
        width: 100%;
        max-width: none;
		position: relative;
        &:not(:first-of-type) {
            margin-top: 24px;

            @include tablet-and-up {
                margin-top: 0;
            }
        }

        &:nth-child(even) {
            margin-left: 0;        
            
            @include tablet-and-up {
                margin-left: 24px;
            }

            @include desktop-and-up {
                margin-left: 32px;
            }

        }

        &--vertical-align {
            margin-top: 48px;
        }

        &--top {
            margin-top: 0;
        }

        &.create-group__input-container--60 {
            width: 100%;
            @include tablet-and-up {
                max-width: 60%;
                min-width: 308px;
                width: 60%;
            }

            @include desktop-and-up {
                margin-top: 0;
                max-width: 493px;
            }
        }

        .create-group__input-container--flex {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }

        &.create-group__input-container--40 {
            width: 100%;
            @include tablet-and-up {
                width: 35%;
            }
        }

        &.create-group__input-container--50 {
            width: 100%;
            @include tablet-and-up {
                width: 48%;
            }
        }

        &.create-group__input-container--vertical-spacing {
            margin-top: 24px;
        }

        &.create-group__input-container--full {
            margin-left: 0;
            margin-top: 25px;
            max-width: none;

            .create-group__label--inline {
                color: $color-black;
                max-width: 200px;
            }
        }
        @include tablet-and-up {
            margin-top: 0;
            max-width: 48%;
        }

        @include desktop-and-up {
            max-width: 490px;
        }
    }

    &__input-row {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include tablet-and-up {
            flex-direction: row;
        }
    }

    &__input {
        @extend .input;

        margin-top: 15px;

        &--error {
            @extend .input--error;

			border-color: $error!important;
			&:focus {	
				outline: 0;	
			}
        }
    }

    &__textarea {
        @extend .textarea;

        height: 214px;
        margin-top: 15px;
        resize: none;

        &.create-group__input--error {
            @extend .textarea--error;
        }

        &--full {
            max-width: none;
        }

        &--short {
            height: 85px;
        }
    }

    &__label {
        @extend .label;

        color: $color-gray-secondary;
        display: block;

        &--full-width {
            width: 100%;
        }

        &--checkbox {
            @extend .label--checkbox;
        }

        &--inline {
            @extend .label--inline;
            display: inline-block;
            margin-top: 15px;
            min-width: 85px;
		}
	}
	
	&__checkbox {	
		opacity: 0;	
		position: absolute;	
		&:focus + label {	
			outline: 1px solid $color-blue-50;	
		}	
	}

    &__tag {
        background: $color-white;
        border: 1px solid $color-gray-secondary;
        border-radius: 25px;
        color: $color-off-black;
        display: inline-block;
        font-size: remCalc(14);
        letter-spacing: 0.0025em;
        line-height: 24px;
        margin-top: 12px;
        margin-right: 16px; 
        padding: 8px 16px;
        text-decoration: none;
        transition: all 0.3s ease-in;
        
        &:hover {
            border-color: rgba(215,215,219,1);
            box-shadow: 0px 0px 0px 4px $color-gray-30!important;
        }


        &--active {
            background-color: $color-gray-20;
            border-color: $color-gray-20;
            color: $color-black;
        }
    }

    &__tag-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 15px;
        width: 100%;
    }

    &__checkbox-container {
		@extend .checkbox-container; 

        line-height: 24px;
        margin-top: 15px;
        &__copy {
			margin: 0;
		}
		input[type=checkbox] {
			position: ab;
		}
		input[type=checkbox]:focus ~ .create-group__check {
			outline: 1px solid $color-blue-50;
		}
	}
	&__checkbox-container__link,
	&__checkbox-container__link:visited,
	&__terms a, 
	&__terms a:visited {
		color: $color-blue-50;
		text-decoration: none;
	}

    &__checkbox-container input {
        @extend .checkbox-container;

        cursor: pointer;
        height: 0;
        line-height: 24px;
        position: absolute;
    }

    &__radio-container {
        @extend .radio-container;

        display: inline-block;
        margin-top: 25px;
        
        &--second {
            margin-left: 24px;
        }
    }

    &__select-container {
        @extend .select-container;

        display: inline-block;
        margin-top: 15px;
        max-width: none;
        width: 100%;
    }

    &__select {
        @extend .select;

        width: 100%;

        &.create-group__input--error {
            @extend .textarea--error;
        }
    }

    &__check {
		@extend .checkbox-check;

        &--error {
            border-color: $error;
        }
    }

    &__radio {
        @extend .radio;
    }


    &__checkbox-container input:checked ~ .create-group__check  {
        border: 1px solid $color-blue-50;
        transition: none;

        &:hover {
            box-shadow: none;
        }

        svg {
            display: block;
        }
        
    }

    &__details-column {
        display: flex;
        flex-direction: column;
        width: 50%;

        &--fill {
            display: block;
            flex-grow: 1;
            max-width: 100%;

            .create-group__input-container {
                max-width: none;

                &:first-of-type {
                    margin-top: 25px;
                }

            }
        }
    }
    

    &__cta-container {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        margin-top: 25px;
    }

    &__cta {
        @extend .cta;

        border: none;
        border-radius: 28px!important;
    }


    &__image {
        height: 100%;
        width: 100%;
    }

    &__image-instructions {
        color: $color-gray-secondary;
        font-size: remCalc(16);
        line-height: 20px;
        margin-top: 14px;
        text-align: center;
		border: 0;	
		background: none;	
		text-align: center;	
		width: 100%;	
		position: relative;
        span {
            color: $color-gray-secondary;
            display: block;
            font-size: remCalc(12);
        }

        &--hide {
            display: none;
		}
	}
	.dz-message {	
		position: absolute;	
		bottom: 0;	
		left: 0;	
		right: 0;	
	}

    &__image-upload {
        background-color: $color-gray-20;
        background-image: url('/wp-content/themes/community-portal/images/upload-image.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 75px 75px;
        border: 1px solid $color-gray-20;
        border-radius: 5px;
        cursor: pointer;
        padding-top: 44.5%;
        margin-top: 15px;
        margin-bottom: 90px;
        @include tablet-and-up {
			margin-bottom: 60px;
            max-width: none;
        }

        &.create-group__image-upload--reset {
            background-image: url('/wp-content/themes/community-portal/images/upload-image.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 75px 75px;
        }

        .create-group__upload-image-svg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            &.create-group__upload-image-svg--hide {
                display: none;
            }
        }

        &:after {
            background-color: $color-white;
            border: 2px solid $color-black;
            border-radius: 28px;
            content: '';
            display: none;
            font-size: remCalc(14);
            height: 36px;
            left: 50%;
            line-height: 36px;
            position: absolute;
            text-align: center;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 127px;
        }

        &--uploading {
            border: none;

            .dz-preview {
                .dz-remove {
                    display: none;
                }
            }
        }

        &--done {
            background-size: contain;
            border: none;

            &:after {
                display: none;
            }

            .create-group__upload-image-svg {
                display: none;
            }
    


            .dz-preview {
                .dz-remove {
                    background-color: $color-white;
                    border-radius: 28px;
                    border: 2px solid $color-black;
                    box-sizing: content-box;
                    color: $color-black;
                    display: block;
                    font-size: remCalc(14);
                    height: 36px;
                    line-height: 36px;
                    margin: 0 auto;
                    margin-top: 15px;
                    text-align: center;
                    text-decoration: none;
                    width: 127px;
                }
            }
        }

        .dz-error-mark, 
        .dz-success-mark {
            display: none;
            position: relative;
        }

        .dz-image {
            background-position: center center;
            background-size: cover;
            border: 1px solid $color-gray-secondary;
            border-radius: 2px;
            height: 160px;
        }

        .dz-preview {
            height: 100%;
            width: 100%;
        }
        
        .dz-remove, 
        .dz-details {
            display: none;
        }
            
    }

    &__terms {
        color: $color-black;
        font-size: remCalc(16);
        line-height: 24px;
    }
    
    .dz-preview {
        display: none;
    }

    .dz-remove {
        background-color: $color-white;
        border: 2px solid $color-black;
        border-radius: 28px;
        box-sizing: content-box;
        color: $color-black;
        display: block;
        font-size: remCalc(14);
        height: 36px;
        line-height: 36px;
        margin: 0 auto;
        margin-top: 15px;
        text-align: center;
        text-decoration: none;
        width: 127px;

        &--hide {
            display: none;
        }
    }
}