.create-group {
    width: 100%;

    &:before {
        display: block;
        width: 100%;
        background-color: $color-blue-5;
        height: 250px;
        content: '';

        @include tablet-and-up {
            height: 220px;
        }

        @include desktop-and-up {
            height: 265px;
        }
    }

    &__container {
        @extend .container; 

        display: flex;
        flex-direction: column;
        align-content: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: -210px;
        width: 100%;
        padding: 0 24px;

        @include tablet-and-up  {
            flex-direction: row;
            padding: 0 64px;
        }

        @include desktop-and-up {
            padding: 0 40px;
        }
    }

    &__nav {
        width: 100%;
        height: 69px;
        background-color: $color-white;
        border: 1px solid $color-gray-10;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: row;
    }

    &__required {
        margin-top: 35px;
        text-align: right;
        font-size: remCalc(14);
        line-height: 22px;
        text-align: right;
    }

    &__form {
        width: 100%;
    }

    &__menu {
        width: 75%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        margin-top: 35px;
        margin-left: 15px;
    }

    &__menu-item {
        margin: 0;
        font-size: remCalc(14);
        font-weight: 600;
        line-height: 22px;
        position: relative;
        margin-right: 35px;
        position: relative;
        width: auto;

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $color-black;
            display: block;
        }

        &--disabled {
            font-weight: 400;
            text-decoration: none;

            &:after {
                display: none;
            }
        }

    }

    &__details {
        background-color: $color-white;
        border: 1px solid $color-gray-10;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
        width: 100%;
        margin-top: 15px;
        padding: 24px 32px;
        display: flex;        
        flex-wrap: wrap;
        justify-content: space-between;

        @include tablet-and-up {
            padding: 48px 55px;
            flex-direction: row;
            min-width: 640px;
        }

        @include desktop-and-up {
            padding: 80px 105px; 
            justify-content: space-between;
            max-width: none;
            width: 100%;
            &:first-of-type {
                margin-top: 40px;
            }
        }


        &--hidden {
            display: none;
        }


        .create-group__input-container--inline {
            max-width: 50%;
            width: 100%;

            &:nth-of-type(even) {
                padding-right: 30px;
            }
        }
    }

    &__title {
        
        font-size: remCalc(32);
        line-height: 40px;
        margin: 0;
        padding: 0;
        font-weight: 300;
        display: block;
        width: 100%;
        font-family: 'Zilla Slab';

        @include tablet-and-up {
            font-size: remCalc(36);
            line-height: 43px;
        }

        @include desktop-and-up {
            font-size: remCalc(48);
            line-height: 56px;
        }
    }

    &__input-container {
        margin-top: 25px;
        width: 100%;
        max-width: none;

        &:first-of-type {
            margin-top: 0;
        }

        &--inline {
            margin-top: 5px;
            width: auto;
        }

        &--vertical-align {
            margin-top: 48px;
        }

        &--top {
            margin-top: 0;
        }

        @include desktop-and-up {
 
            max-width: 490px;
            &--short {
                width: 100%;
                max-width: 285px;
    
                &:nth-of-type(2) {
                    margin-top: 0;
                }
            }

            &--full {
                max-width: none;
                margin-top: 25px;
    
    
                .create-group__label--inline {
                    color: $color-black;
                    max-width: 200px;
    
                }
            }

        }
    }

    &__input {
        @extend .input;
        margin-top: 15px;

        &--inline {
            max-width: 530px;
        }

        &--error {
            @extend .input--error;
        }
    }

    &__textarea {
        @extend .textarea;
        height: 214px;
        margin-top: 15px;
        resize: none;

        &.create-group__input--error {
            @extend .textarea--error;
        }

        &--full {
            max-width: none;
        }

        &--short {
            height: 85px;
        }
    }

    &__label {
        @extend .label;
        display: block;

        &--checkbox {
            @extend .label--checkbox;
        }

        &--inline {
            @extend .label--inline;
            min-width: 85px;
            display: inline-block;
            margin-top: 15px;
        }
    }

    &__tag {
        background: $color-white;
        border: 1px solid $color-gray-secondary;
        border-radius: 25px;
        display: inline-block;
        font-size: remCalc(14);
        line-height: 24px;
        color: $color-off-black;
        padding: 8px 16px;
        margin-top: 12px;
        margin-right: 16px; 
        text-decoration: none;
        transition: all 0.3s ease-in;
        letter-spacing: 0.0025em;
        

        &:hover {
            border-color: rgba(215,215,219,1);
            box-shadow: 0px 0px 0px 4px $color-gray-30;
        }


        &--active {
            background-color: $color-gray-20;
            border-color: $color-gray-20;
            color: $color-black;
        }
    }

    &__tag-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 15px;
    }

    &__checkbox-container {
        @extend .checkbox-container; 
        margin-top: 15px;
    }

    &__checkbox-container input {
        @extend .checkbox-container;
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &__radio-container {
        @extend .radio-container;
        display: inline-block;
        width: 40%;
        margin-top: 25px;
    }

    &__select-container {
        @extend .select-container;
        max-width: none;
        display: inline-block;
        margin-top: 15px;
        margin-right: 30px;
        svg {
            right: 22px;
        }
    }

    &__select {
        @extend .select;
        width: 280px;

        &.create-group__input--error {
            @extend .textarea--error;
        }
    }

    &__check {
        @extend .checkbox-check;

        &--error {
            border-color: $error;
        }
    }

    &__radio {
        @extend .radio;
    }


    &__checkbox-container input:checked ~ .create-group__check  {
        transition: none;
        border: 1px solid $color-blue-50;

        &:hover {
            box-shadow: none;
        }

        svg {
            display: block;
        }
        
    }

    &__details-column {
        display: flex;
        flex-direction: column;
        width: 50%;

        &--fill {
            max-width: none;
            flex-grow: 1;
            max-width: 100%;
            display: block;

            .create-group__input-container {
                max-width: none;
                &:first-of-type {
                    margin-top: 25px;
                }

            }

            .create-group__input-container--inline { 
                display: inline-block;
                margin-top: 25px;
                max-width: 265px;
                width: 100%;

                &:nth-of-type(even) {
                    padding-right: 0;
                }
            }
        }
    }
    

    &__cta-container {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        margin-top: 25px;
    }

    &__cta {
        @extend .cta;
    }


    &__image {
        width: 100%;
        height: 100%;
    }

    &__image-instructions {
        font-size: remCalc(16);
        line-height: 20px;
        text-align: center;
        color: $color-gray-secondary;
        margin-top: 24px;

        &--hide {
            display: none;
        }
    }

    &__image-upload {
        background-color: $color-gray-20;
        width: 283px;
        height: 160px;
        margin-top: 15px;
        position: relative;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid $color-gray-20;


        .create-group__upload-image-svg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &:after {
            position: absolute;
            content: '';
            display: none;
            width: 127px;
            height: 36px;
            border-radius: 28px;
            border: 2px solid $color-black;
            background-color: $color-white;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            line-height: 36px;
            font-size: remCalc(14);

        }

        &--uploading {
            border: none;

            .dz-preview {
                .dz-remove {
                    display: none;
                }
            }
        }

        &--done {
            &:after {
                display: none;
            }
            border: none;

            .create-group__upload-image-svg {
                display: none;
            }
    


            .dz-preview {
                .dz-remove {
                    box-sizing: content-box;
                    display: block;
                    width: 127px;
                    height: 36px;
                    border-radius: 28px;
                    border: 2px solid $color-black;
                    background-color: $color-white;
                    text-align: center;
                    line-height: 36px;
                    font-size: remCalc(14);
                    text-decoration: none;
                    color: $color-black;
                    margin: 0 auto;
                    margin-top: 15px;
                }
            }
        }

        .dz-error-mark, 
        .dz-success-mark {
            display: none;
            position: relative;
        }

        .dz-image {
            width: 283px;
            height: 160px;
            background-position: center center;
            background-size: cover;
            border-radius: 2px;
            border: 1px solid $color-gray-secondary;
        }

        .dz-preview {
            height: 100%;
            width: 100%;
        }
        
        .dz-remove, 
        .dz-details {
            display: none;
        }
            
    }

    &__terms {
        font-size: remCalc(16);
        line-height: 20px;
        color: $color-black;
    }
    
}