.create-group {
    width: 100%;
    margin-top: 60px;

    &__container {
        @extend .container;
        display: flex;
        flex-direction: row;
        align-content: flex-start;
    }

    &__nav {
        width: 100%;
        height: 69px;
        background-color: $white;
        border: 1px solid #F4F4F4;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: row;
    }

    &__form {
        width: 100%;
    }

    &__menu {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin-top: 35px;
    }

    &__menu-item {
        width: 50%;
        margin: 0;
        text-align: center;
        font-size: remCalc(12);
        font-weight: 500;
        line-height: 14px;
        position: relative;

        &:after {
            position: absolute;
            content: '';
            background-color: $black;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            left: 50%;
            transform: translateX(-50%);
            top: -20px;
        }

        &--disabled {
            color: #BDBDBD;
            &:after {
                background-color: #BDBDBD;
            }
        }
    }

    &__details {
        background-color: $white;
        border: 1px solid #F4F4F4;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
        width: 100%;
        margin-top: 15px;
        padding: 50px 86px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__title {
        font-size: remCalc(32);
        line-height: 37px;
        margin: 0;
        margin-bottom: 25px;
        padding: 0;
        font-weight: 300;
        text-align: center;
        display: inline-block;
        width: 100%;

    }

    &__input-container {
        margin-top: 25px;
        max-width: 580px;
        width: 100%;

        &--inline {
            margin-top: 5px;
        }

        &--short {
            width: 100%;
            max-width: 240px;
        }

        &--full {
            max-width: none;

        }
    }

    &__input {
        @extend .input;
        margin-top: 15px;
        padding: 15px;

        &--inline {
            max-width: 530px;
        }
    }

    &__textarea {
        @extend .textarea;
        height: 240px;
        margin-top: 15px;
    }

    &__label {
        @extend .label;
        display: block;

        &--checkbox {
            @extend .label--checkbox;
        }

        &--inline {
            @extend .label--inline;
            min-width: 85px;
            display: inline-block;
        }
    }

    &__tag-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
    }

    &__checkbox-container {
        @extend .checkbox-container;
        width: 50%;       
        margin-top: 15px;
    }

    &__radio-container {
        @extend .radio-container;
        display: inline-block;
        width: 40%;
        margin-top: 15px;
    }

    &__select-container {
        @extend .select-container;
        max-width: none;
        display: inline-block;
        margin-top: 15px;
        svg {
            right: 22px;
        }
    }

    &__select {
        @extend .select;
        width: 240px;
    }

    &__check {
        @extend .checkbox-check;
    }

    &__radio {
        @extend .radio;
    }


    &__checkbox-container input:checked ~ .create-group__check  {
        transition: none;
        border: 1px solid #0060DF;

        &:hover {
            box-shadow: none;
        }

        svg {
            display: block;
        }
        
    }

    
    &__cta-container {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        margin-top: 25px;
    }

    &__cta {
        @extend .cta;
    }


    &__image {
        width: 100%;
        height: 100%;
    }

    &__image-upload {
        background-color: #BDBDBD;
        width: 240px;
        height: 240px;
        margin-top: 15px;

        .dz-error-mark, 
        .dz-success-mark {
            display: none;
            position: relative;
        }


        .dz-image {
            width: 240px;
            height: 240px;
            background-position: center center;
            background-size: cover;
        }

        .dz-preview {
            height: 100%;
            width: 100%;
        }
        
        .dz-details {
            display: none;
        }
            
    }
    
}