.create-group {
    width: 100%;

    &__hero {
        width: 100%;
        background-color: $color-blue-5;
        height: 253px;
        padding: 0 24px;
        padding-top: 11px;

        @include tablet-and-up {
            padding: 0 64px;
            height: 255px;
            padding-top: 26px;
        }
        
        @include desktop-and-up {
            height: 292px;
            padding: 0 106px;
            padding-top: 55px;
        }

    }

    &__hero-container {
        max-width: 1018px;
        width: 100%;
        margin: 0 auto;
    }

    &__container {
        @extend .container; 
        padding: 0;
        max-width: 1018px;
        margin-top: -155px;
        width: 100%;
    }

    &__nav {
        width: 100%;
        height: 69px;
        background-color: $color-white;
        border: 1px solid $color-gray-10;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: row;
    }

    &__required {
        margin-top: 35px;
        text-align: right;
        font-size: remCalc(14);
        line-height: 22px;
        text-align: right;
    }

    &__form {
        width: 100%;
        padding: 0 24px;

        @include tablet-and-up {
            padding: 0 64px;
        }

        @include desktop-and-up {
            padding: 0 106px;
        }
    }

    &__menu {
        display: none;
        @include tablet-and-up {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 35px;
            height: 58px;
            border-top: 1px solid $color-gray-30;
            border-bottom: 1px solid $color-gray-30;
        }
    }

    &__menu-item {
        margin: 0;
        font-size: remCalc(14);
        font-weight: 600;
        line-height: 22px;
        position: relative;
        margin-right: 35px;
        position: relative;
        width: auto;
        margin-left: 15px;

        &--disabled {
            font-weight: 400;
            text-decoration: none;

            &:after {
                display: none;
            }
        }

        &--right {
            margin-left: auto;
            margin-right: 0;
            list-style-type: none;
        }

    }

    &__details {
        background-color: $color-white;
        border: 1px solid $color-gray-10;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
        width: 100%;
        margin-top: 16px;
        padding: 24px 32px;
        display: flex;        
        flex-wrap: wrap;
        justify-content: flex-start;

        @include tablet-and-up {
            padding: 48px 55px;
            flex-direction: row;
            min-width: 640px;
            margin-top: 24px;
        }

        @include desktop-and-up {
            padding: 80px 105px; 
            max-width: none;
            width: 100%;
            &:first-of-type {
                margin-top: 24px;
            }
        }


        &--hidden {
            display: none;
        }

    }

    &__title {
        
        font-size: remCalc(32);
        line-height: 40px;
        margin: 0;
        padding: 0;
        font-weight: 300;
        display: block;
        width: 100%;
        font-family: 'Zilla Slab';

        @include tablet-and-up {
            font-size: remCalc(36);
            line-height: 43px;
        }

        @include desktop-and-up {
            font-size: remCalc(48);
            line-height: 56px;
        }
    }

    &__section-title {
        font-size: remCalc(20);
        line-height: 28px;
        font-weight: 600;
        color: $color-black;
    }

    &__input-container {
        width: 100%;
        max-width: none;

        &:not(:first-of-type) {
            margin-top: 24px;

            @include tablet-and-up {
                margin-top: 0;
            }
        }

        &:nth-child(even) {
            margin-left: 0;        
            
            @include tablet-and-up {
                margin-left: 24px;
            }

            @include desktop-and-up {
                margin-left: 32px;
            }

        }

        &--vertical-align {
            margin-top: 48px;
        }

        &--top {
            margin-top: 0;
        }

        &.create-group__input-container--60 {
            width: 100%;
            @include tablet-and-up {
                width: 60%;
                max-width: 60%;
                min-width: 308px;
            }

            @include desktop-and-up {
                max-width: 493px;
                margin-top: 0;
            }
        }

        &.create-group__input-container--40 {
            width: 100%;
            @include tablet-and-up {
                width: 35%;
            }
        }

        &.create-group__input-container--50 {
            width: 100%;
            @include tablet-and-up {
                width: 48%;
            }
        }

        &.create-group__input-container--vertical-spacing {
            margin-top: 24px;
        }

        &.create-group__input-container--full {
            max-width: none;
            margin-top: 25px;
            margin-left: 0;

            .create-group__label--inline {
                color: $color-black;
                max-width: 200px;
            }
        }
        @include tablet-and-up {
            max-width: 48%;
            margin-top: 0;
        }

        @include desktop-and-up {
            max-width: 490px;
        }
    }

    &__input-row {
        display: flex;
        flex-direction: column;
        width: 100%;
        @include tablet-and-up {
            flex-direction: row;
        }
    }

    &__input {
        @extend .input;
        margin-top: 15px;

        &--error {
            @extend .input--error;
        }
    }

    &__textarea {
        @extend .textarea;
        height: 214px;
        margin-top: 15px;
        resize: none;

        &.create-group__input--error {
            @extend .textarea--error;
        }

        &--full {
            max-width: none;
        }

        &--short {
            height: 85px;
        }
    }

    &__label {
        @extend .label;
        display: block;
        color: $color-gray-secondary;

        &--checkbox {
            @extend .label--checkbox;
        }

        &--inline {
            @extend .label--inline;
            min-width: 85px;
            display: inline-block;
            margin-top: 15px;
        }
    }

    &__tag {
        background: $color-white;
        border: 1px solid $color-gray-secondary;
        border-radius: 25px;
        display: inline-block;
        font-size: remCalc(14);
        line-height: 24px;
        color: $color-off-black;
        padding: 8px 16px;
        margin-top: 12px;
        margin-right: 16px; 
        text-decoration: none;
        transition: all 0.3s ease-in;
        letter-spacing: 0.0025em;
        

        &:hover {
            border-color: rgba(215,215,219,1);
            box-shadow: 0px 0px 0px 4px $color-gray-30;
        }


        &--active {
            background-color: $color-gray-20;
            border-color: $color-gray-20;
            color: $color-black;
        }
    }

    &__tag-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 15px;
    }

    &__checkbox-container {
        @extend .checkbox-container; 
        margin-top: 15px;
    }

    &__checkbox-container input {
        @extend .checkbox-container;
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &__radio-container {
        @extend .radio-container;
        display: inline-block;
        margin-top: 25px;
        
        &--second {
            margin-left: 24px;
        }
    }

    &__select-container {
        @extend .select-container;
        max-width: none;
        display: inline-block;
        width: 100%;
        margin-top: 15px;
        svg {
            right: 22px;
        }
    }

    &__select {
        @extend .select;
        width: 100%;

        &.create-group__input--error {
            @extend .textarea--error;
        }
    }

    &__check {
        @extend .checkbox-check;

        &--error {
            border-color: $error;
        }
    }

    &__radio {
        @extend .radio;
    }


    &__checkbox-container input:checked ~ .create-group__check  {
        transition: none;
        border: 1px solid $color-blue-50;

        &:hover {
            box-shadow: none;
        }

        svg {
            display: block;
        }
        
    }

    &__details-column {
        display: flex;
        flex-direction: column;
        width: 50%;

        &--fill {
            max-width: none;
            flex-grow: 1;
            max-width: 100%;
            display: block;

            .create-group__input-container {
                max-width: none;
                &:first-of-type {
                    margin-top: 25px;
                }

            }
        }
    }
    

    &__cta-container {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        margin-top: 25px;
    }

    &__cta {
        @extend .cta;
    }


    &__image {
        width: 100%;
        height: 100%;
    }

    &__image-instructions {
        font-size: remCalc(16);
        line-height: 20px;
        color: $color-gray-secondary;
        margin-top: 14px;

        span {
            font-size: remCalc(12);
            display: block;
            color: $color-gray-secondary;
        }

        &--hide {
            display: none;
        }

        @include tablet-and-up {
            text-align: center;
        }
    }

    &__image-upload {
        background-color: $color-gray-20;
        height: 160px;
        margin-top: 15px;
        position: relative;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid $color-gray-20;
        max-width: 234px;

        @include tablet-and-up {
            height: 160px;
            max-width: none;
        }


        .create-group__upload-image-svg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &:after {
            position: absolute;
            content: '';
            display: none;
            width: 127px;
            height: 36px;
            border-radius: 28px;
            border: 2px solid $color-black;
            background-color: $color-white;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            line-height: 36px;
            font-size: remCalc(14);

        }

        &--uploading {
            border: none;

            .dz-preview {
                .dz-remove {
                    display: none;
                }
            }
        }

        &--done {
            &:after {
                display: none;
            }
            border: none;

            .create-group__upload-image-svg {
                display: none;
            }
    


            .dz-preview {
                .dz-remove {
                    box-sizing: content-box;
                    display: block;
                    width: 127px;
                    height: 36px;
                    border-radius: 28px;
                    border: 2px solid $color-black;
                    background-color: $color-white;
                    text-align: center;
                    line-height: 36px;
                    font-size: remCalc(14);
                    text-decoration: none;
                    color: $color-black;
                    margin: 0 auto;
                    margin-top: 15px;
                }
            }
        }

        .dz-error-mark, 
        .dz-success-mark {
            display: none;
            position: relative;
        }

        .dz-image {
            height: 160px;
            background-position: center center;
            background-size: cover;
            border-radius: 2px;
            border: 1px solid $color-gray-secondary;
        }

        .dz-preview {
            height: 100%;
            width: 100%;
        }
        
        .dz-remove, 
        .dz-details {
            display: none;
        }
            
    }

    &__terms {
        font-size: remCalc(16);
        line-height: 20px;
        color: $color-black;
    }
    
}