.events-single {
  &.events__container {
    padding-top: 64px;
  }
  .title {
    margin: 0 0 32px;
  }
  &__label {
    font-size: remCalc(14);
    color: $color-gray-secondary;
    margin: 0 0 16px;
  }
  .hidden {
    display: none;
  }
  .em-booking-form-details {
    text-align: right;
  }
  .card {
    padding: 32px;
    background-color: white;
    &--with-img {
      padding: 0;
      .card__edit-btn {
        background-color: transparent;
      }
    }
    &__image {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      background-size: cover;
      background-repeat: no-repeat;
      background: $color-gray-10;
    }
    &__date {
      flex-basis: 60%;
      p,
      .title--secondary {
        margin: 0;
      }
      p {
        margin-top: 8px;
      }
    }
    &__time {
      margin: 0;
    }
    #em-booking {
      flex-basis: 40%;
    }
    &__details {
      padding: 32px;
      display: flex;
      justify-content: space-between;
    }
    &__edit-btn {
      margin: 24px;
      padding: 8px;
      background: white;
      border-radius: 50%;
      svg {
        display: block;
      }
    }
    &__address {
      p {
        margin: 0;
        line-height: remCalc(24);
      }
    }
  }
  &__tags {
    padding: 0;
    .tag {
      font-size: remCalc(14);
      padding: 10px 20px;
      margin-bottom: 10px;
    }
  }
  &__attributes.card {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  &__share.card {
    border-top: 1px solid $color-gray-20;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    svg {
      position: relative;
      top: 2px;
    }
  }
  &__group {
    margin-top: 32px;
  }
  &__member-card {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }
  &__avatar {
    @extend .members__avatar;
    margin-right: 16px;
    img {
      display: block;
      max-width: 100%;
    }
  }
  &__username {
    @extend .members__username;
    a {
      color: black;
      text-decoration: none;
    }
  }
  &__name {
    @extend .members__name;
  }
  &__location {
    display: flex;
    .card__address {
      margin-right: 20px;
      flex-basis: 40%;
    }
    .card__map {
      flex-basis: 60%;
    }
  }
  &__campaign {
    position: relative;
    svg {
      position: absolute;
    }
    a {
      padding-left: 32px;
      line-height: 24px;
    }
  }
  .em-booking-form-details {
    padding: 0;
    float: none;
    width: auto;
  }
  .em-booking {
    text-align: right;
  }
  &__description {
    padding-right: 32px;
  }
  &__report {
    text-align: right;
    border-bottom: 1px solid #b1b1bc;
  }
  &__report-btn {
    padding: 16px 0;
    color: $color-blue-50;
    svg {
      position: relative;
      top: 6px;
    }
  }
  &__related {
    padding: 56px 0 64px;
    .title--secondary {
      margin-top: 0;
    }
  }
  .events__column {
    padding: 0 16px 32px;
  }
  @include desktop-and-up {
    .events__column {
      flex-basis: 50%;
      max-width: 50%;
      .event-card__image {
        height: 270px;
      }
      &:nth-child(1) {
        padding-left: 0;
      }
      &:nth-child(2) {
        padding-right: 0;
      }
    }
  }
}
