.events {
  .col-* {
    padding: 0;
  }
  &__link {
    text-decoration: none;
    color: #000;
  }
  &__filter {
    padding: 0;
    padding: 16px 32px;
    background: white;
    margin: 2px 0 8px;
    display: flex;
    &__form {
      display: flex;
      flex-grow: 1;
    }
    &__title {
      margin: 0;
      padding: 11px 27px 11px 0;
    }
    &__option {
      display: flex;
      align-items: center;
      flex: 1 0 33.33%;
      border: 0;
      padding: 0;
      margin-right: 32px;
      position: relative;
      &:last-child {
        margin-right: 0;
      }
      select {
        -webkit-appearance: none;
        padding: 8px 16px;
        background: $color-gray-20;
        border: 1px solid $color-gray-20;
        border-radius: 5px;
        line-height: 24px;
        flex: 1 0 auto;
      }
      label {
        display: inline-block;
        font-size: 14px;
        color: $color-gray-secondary;
        padding-right: 8px;
      }
      &__icon {
        position: absolute;
        right: 14px;
      }
    }
  }
  &__column {
    &:nth-of-type(3n + 2) {
      padding-left: 0;
    }
    &:nth-of-type(3n + 1) {
      padding-right: 0;
    }
  }
  &__nav {
    display: flex;
    padding: 0;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    &__link {
      display: inline-block;
      padding: 20px 16px;
      text-decoration: none;
      color: #000;
      &--active {
        font-weight: bold;
        position: relative;
      }
      &--active::after {
        content: "";
        position: absolute;
        background: $color-blue-50;
        display: block;
        height: 2px;
        margin-top: 16px;
        bottom: 0;
        left: 0;
        right: 0;
        width: calc(100% - 32px);
        margin: 0 auto;
      }
    }
    &__item:first-child .events__nav__link {
      padding-left: 0;
      &--active::after {
        width: calc(100% - 16px);
        margin: 0;
      }
    }
  }
  &__tags {
    padding: 0;
  }
  .card {
    background: white;
    margin: 32px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &__image {
      position: relative;
      height: 200px;
      img {
        max-width: 100%;
        display: block;
      }
    }
    &__image__date {
      display: inline-block;
      position: absolute;
      left: 24px;
      bottom: 28px;
      background: white;
      text-align: center;
      padding: 20px 35px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
      span {
        display: block;
        font-size: 32px;
        line-height: 40px;
      }
    }
    &__description {
      padding: 16px 40px 24px;
    }
  }
}

.css-events-admin {
  width: 100%;
}

.em-search-wrapper {
  border-bottom: 1px solid $color-gray-30;
  .em-events-search {
    padding: 16px 30px;
  }
  .em-search-main {
    border-bottom: 1px solid $color-gray-20;
    width: calc(100% - 191px);
  }
  div.css-search div.em-search-main .em-search-submit {
    background: $color-blue-50;
    text-shadow: none;
    border-radius: 100px;
    padding: 10px 36px;
    font-size: 14px;
    line-height: 20px;
    font-family: $secondary-font;
    font-weight: 400;
    top: 16px;
    right: 30px;
  }
  div.css-search div.em-search-text {
    background: url("./images/search.png");
    background-position: left;
    background-repeat: no-repeat;
  }
  div.css-search input.em-search-text {
    line-height: 22px;
  }
}

.em-search-wrapper .em-events-search,
.events__filter {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 5px 5px;
}
