.events-single {
    padding-bottom: 36px;

    @include tablet-and-up {
        padding-bottom: 88px;
    }

    @include desktop-and-up {
        padding-bottom: 64px;
    }

    &__externam-link {
        color: $color-blue-50;

        &.events-single__externam-link--icon {
            align-items: center;
            display: flex;
            flex-direction: row;

            svg {
                margin-right: 8px;
            }
        }
    }

    a {
        text-decoration: none;

        .events-single__tag-link {
            color: $color-black;

            &:visited {
                color: $color-black;
            }
        }
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    &.events__container {
        padding-top: 64px;
    }

    &__two-up {
        flex-wrap: wrap;
        justify-content: space-between;

        .col-lg-7 {
            @include desktop-and-up {
                flex-basis: 500px;
                flex-grow: 1;
                flex-shrink: 0;
                max-width: 703px;
            }
        }
    }

    .title {
        margin: 0 0 32px;
    }

    .hidden {
        display: none;
    }

    .em-booking-form-details {
        text-align: right;
    }
        
    .card {
        background-color: $color-white;
        padding: 32px;

        &--with-img {
            padding: 0;    
        }

        &__image {
            align-items: flex-start;
            background-color: $color-gray-10;
            background-position: center;
            background-repeat: no-repeat;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
			display: flex;
			background-size: contain;
			justify-content: flex-end;
			position: relative;
			&--active .card__edit-btn {
				position: absolute;
				top: 0;
				right: 0;
			}
        }

        &__date {
            flex-basis: 100%;

            @include tablet-and-up {
                flex-basis: 60%;
            }

            p,
            .title--secondary {
                margin: 0;
            }

            p {
                margin-top: 8px;
            }
        }

        &__time {
            margin: 0;
        }
        
        #em-booking {
            flex-basis: 100%;

            @include tablet-and-up {
                flex-basis: 40%;
            }
        }

        &__details {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 32px;
        }

        &__edit-btn {
            background: transparent;
            margin: 5px 24px;
            padding: 11px;

            &.card__edit-btn--white {
                align-items: center;
                background-color: white;
                border-radius: 50%;
                display: flex;
                height: 40px;
                justify-content: center;
                margin-right: 32px;
                margin-top: 32px;
                width: 40px;
            }

            svg {
                display: block;
            }
        }

        &__address {
            p,
            a {
                margin: 0;
                line-height: remCalc(28);
            }
            a:visited {
                color: $color-blue-50;
            }
            a svg {
                margin-left: 3px;
            }
        }
    }

    &__tags {
        padding: 0;
        margin: 0;

        .tag {
            font-size: remCalc(14);
            margin-bottom: 10px;
            padding: 10px 20px;

            .events-single__tag-link {
                color: $color-black;

                &:visited {
                    color: $color-black;
                }
            }
        }
        
    }

    &__attributes.card,
    &__group.card {
        margin-top: 32px;
        padding: 16px;

        a:visited {
            color: $color-blue-50;
        }

        p {
            margin: 0;
        }

        .col-md-6,
        .events-single__hosts {
            padding: 0 0 24px;

            @include tablet-and-up {
                padding: 32px 24px;
            }

            @include desktop-and-up {
                padding: 16px 32px;
            }

            &--multiple {

                @include tablet-and-up {
                    padding-bottom: 0;
                }

                @include desktop-and-up {
                    padding-bottom: 32px;
                }
            }
        }

        .events-single__member-card {
            &:first-of-type {
                padding-left: 0;
            }

            a, 
            a:visited {
                color: $color-black;
            }

            a {
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 0;

                .events-single__name {
                    margin-left: 97px;
                    margin-top: -25px;
                    width: 100%;
                }

            }
        }

        .events-single__share {
            padding: 24px 0 0;

            @include tablet-and-up {
                flex-basis: calc(50% - 64px);
                padding: 32px 0 0;
                padding-bottom: 0;
                margin: 0 24px 32px;
            }

            @include desktop-and-up {
                flex-basis: 100%;
                margin: 16px 0 0;
                padding: 32px;
            }

            &:first-child {
                margin-top: 0;
            }

            &:nth-child(2) {
                @include tablet-and-up {
                    align-items: center;
                    border-top: 0;
                    display: flex; 
                    padding-top: 32px;
                }

                @include desktop-and-up {
                    border-top: 1px solid $color-gray-20;
                }
            }

            &:nth-child(1) {
                border-top: 0;
                padding-top: 0;

                @include tablet-and-up {
                    padding-top: 32px;
                }
            }
        }

        p.events-single__label {
            color: $color-gray-secondary;
            font-size: remCalc(14);
            margin-bottom: 16px;
        }

        .events-single__host {
            display: block;
            margin-top: 16px;
        }

        @include tablet-and-up {
            margin-top: 53px;
            padding: 0;
        }
    }

    &__attributes.card {
        
        @include desktop-and-up {
           margin-top: 0;
        }
    }

    &__group.card {

        p.events-single__label {
            margin-bottom: 0;
        }

        @include desktop-and-up {
            padding: 16px 0;  
        }
    }

    &__sidebar {
        @include desktop-and-up {
          margin-left: 40px;
        }
    }

    &__share {
        border-top: 1px solid $color-gray-20;
        padding-top: 32px;
        
        svg {
            position: relative;
            top: 2px;
        }
    }

    &__group {
        margin-top: 32px;
    }

    &__member-card a {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 22px;

        @include tablet-and-up {
            margin-bottom: 32px;
        }
    }

    &__avatar {
        @extend .members__avatar;

        flex-basis: 80px;
        flex-shrink: 0;
        margin-right: 16px;

        img {
            display: block;
            max-width: 100%;
        }
    }

    &__username {
        @extend .members__username;

        &::before {
            content: "@";
            display: inline;
        }
    }

    &__name,
    &__country {
        @extend .members__name;
    }

    p.events-single__country {
        padding-top: 8px;

        &::before {
            content: url('./images/map-pin.svg');
            position: relative;
            top: 3px;
        }
    }

    &__cancel {
        display: block;
        margin-left: auto;
        text-align: center;

        @include tablet-and-up {
            max-width: 204px;
        }
    }

    &__location {
        .card__map {
            flex-basis: 100%;
            padding-top: 21px;

            @include tablet-and-up {
                flex-basis: 58.333333%;
                padding-top: 0;
            }
        }
    }

    &__campaign {
        position: relative;

        svg {
            position: absolute;
        }

        a {
            line-height: 24px;
            padding-left: 32px;
        }
    }

    .em-booking-form-details {
        float: none;
        padding: 0;
        width: auto;
    }

    .em-booking-submit {
        width: 100%;

        @include tablet-and-up {
            width: auto;
        }
    }

    .em-booking {
        text-align: right;
    }

    &__description {
        @include desktop-and-up {
            padding-right: 32px;
        }
    }

    &__report {
        border-bottom: 1px solid $color-gray-40;
        text-align: right;
    }

    &__report-btn {
        color: $color-blue-50;
        padding: 32px 0;

        svg {
            position: relative;
            top: 6px;
        }

        @include tablet-and-up {
            padding: 24px 0;
        }

        @include desktop-and-up {
           padding: 16px 0;
        }
    }

    &__related {
        padding: 56px 0 0;

        .title--secondary {
            margin-top: 0;
        }
    }

    .events__column {
        padding: 0 0 32px;

        &:nth-child(2n + 1) {
            @include tablet-and-up {
                padding: 0 17px 0 0;
            }
        }

        &:nth-child(2n) {
            @include tablet-and-up {
                padding: 0 0 0 17px;
            }
        }
    }

    @include desktop-and-up {
        .events__column {
            flex-basis: 50%;
            max-width: 50%;

            .event-card__image {
                height: 270px;
            }

            &:nth-child(1) {
                padding-left: 0;
            }

            &:nth-child(2) {
                padding-right: 0;
            }
        }
    }

    &__report-container {
        align-items: center;
        border-bottom: 1px solid $color-gray-40;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0;
        margin-top: 32px;
        padding: 0;
        padding-bottom: 32px;
        width: 100%
    }

    &__report-group-link {
        align-items: center;
        color: $color-blue-50;
        display: flex;
        flex-direction: row;
        font-size: remCalc(16);
        line-height: 24px;
        text-decoration: none;

        svg {
            margin-right: 8px;
        }
    }
}