#em-wrapper .row {
  margin: 0;
}
.events {
  &__header {
    background-color: $color-yellow-20;
    .events__container {
      padding-top: 56px;
      padding-bottom: 88px;
      background-image: url("./images/events-header.png");
      background-repeat: no-repeat;
      background-position: right;
    }
  }
  &__title,
  &__title--edit {
    font-family: $main-font-family;
    font-size: 48px;
  }
  &__title {
    &::before {
      content: url("./images/Ellipse.png");
      padding-right: 15px;
    }
  }
  &__container {
    max-width: 1228px;
    margin: 0 auto;
    padding: 0 64px;
    @media (max-width: $md) {
      padding: 0 24px;
    }
    &--edit {
      .em-search-wrapper,
      .events__nav__container,
      .events__filter {
        display: none;
      }
    }
  }
  .hidden {
    display: none;
  }
  .col-* {
    padding: 0;
  }
  &__link {
    text-decoration: none;
    color: #000;
  }
  &__filter {
    padding: 0;
    padding: 16px 32px;
    background: white;
    margin: 2px 0 8px;
    display: flex;
    flex-wrap: wrap;
    &__form {
      display: flex;
      flex-grow: 1;
    }
    &__title {
      margin: 0;
      padding: 11px 27px 11px 0;
    }
    &__option {
      display: flex;
      align-items: center;
      flex: 1 0 33.33%;
      border: 0;
      padding: 0;
      margin-right: 32px;
      position: relative;
      @media (max-width: $sm) {
        margin: 8px 0;
      }
      &:last-child {
        margin-right: 0;
      }
      select {
        -webkit-appearance: none;
        padding: 8px 16px;
        background: $color-gray-20;
        border: 1px solid $color-gray-20;
        border-radius: 5px;
        line-height: 24px;
        flex: 1 0 auto;
      }
      label {
        display: inline-block;
        font-size: 14px;
        color: $color-gray-secondary;
        padding-right: 8px;
      }
      &__icon {
        position: absolute;
        right: 14px;
      }
    }
    &__toggle {
      margin: 24px 0 36px;
      display: none;
      @media (max-width: $sm) {
        display: block;
      }
    }
    @media (max-width: $sm) {
      display: none;
    }
  }
  &__filter,
  &__filter__form,
  &__filter__option {
    @media (max-width: $sm) {
      flex-direction: column;
      select,
      label {
        width: 100%;
      }
    }
    &__icon {
      bottom: 14px;
      top: auto;
    }
  }
  &__nav {
    display: flex;
    padding: 0;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    @media (max-width: $md) {
      display: none;
    }
    &--active {
      @media (max-width: $md) {
        display: block;
      }
    }
    &__container {
      @media (max-width: $md) {
        border-bottom: 1px solid #cdcdd4;
        width: 100%;
        margin-bottom: 24px;
      }
    }
    &__link {
      display: inline-block;
      padding: 20px 16px;
      text-decoration: none;
      color: #000;
      &--active {
        font-weight: bold;
        position: relative;
      }
      &--active::after {
        content: "";
        position: absolute;
        background: $color-blue-50;
        display: block;
        height: 2px;
        margin-top: 16px;
        bottom: 0;
        left: 0;
        right: 0;
        width: calc(100% - 32px);
        margin: 0 auto;
      }
    }
    &__item:first-child .events__nav__link {
      padding-left: 0;
      &--active::after {
        width: calc(100% - 16px);
        margin: 0;
      }
    }
    &--mobile {
      display: none;
      position: relative;
      border-bottom: 2px solid $color-blue-50;
      @media (max-width: $md) {
        display: flex;
        align-items: center;
      }
      .events__nav__label--mobile {
        color: $color-gray-secondary;
      }
      .events__nav__options--mobile {
        flex: 1 0 auto;
        -webkit-appearance: none;
        border: none;
        padding: 15px 7px;
        background: none;
      }
      .events__nav__icon {
        position: absolute;
        right: 14px;
      }
    }
  }
  &__tags {
    padding: 0;
  }
  .card {
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    transition: box-shadow 0.3s ease-in-out;
    &__image {
      position: relative;
      height: 175px;
      overflow: hidden;
      img {
        max-width: 100%;
        display: block;
      }
    }
    &__image__date {
      display: inline-block;
      position: absolute;
      left: 24px;
      bottom: 28px;
      background: white;
      text-align: center;
      padding: 20px 35px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
      span {
        display: block;
        font-size: 32px;
        line-height: 40px;
      }
    }

    &__description {
      display: flex;
      flex-direction: column;
      padding: 16px 32px 24px;
      &__title {
        margin: 0;
      }
    }
    .events__tags {
      justify-self: flex-end;
      padding: 0 32px 24px;
      margin: 0;
    }
    &__location {
      display: flex;
      align-items: center;
      p {
        padding-left: 8px;
        margin: 0;
      }
    }
    &:hover {
      box-shadow: 0 0 0 4px #d7d7db;
    }
  }
  &__cards {
    .css-event-form {
      width: 100%;
    }
    .events__column:nth-of-type(3n) {
      padding-right: 0;
      @media (max-width: $xl) {
        padding-right: 16px;
      }
      @media (max-width: $md) {
        padding-right: 0;
      }
    }
    .events__column:nth-of-type(3n + 1) {
      padding-left: 0;
      @media (max-width: $xl) {
        padding-left: 16px;
      }
      @media (max-width: $md) {
        padding-left: 0;
      }
    }
    .events__column:nth-of-type(2n + 1) {
      @media (max-width: $xl) {
        padding-left: 0;
      }
    }
    .events__column:nth-of-type(2n) {
      @media (max-width: $xl) {
        padding-right: 0;
      }
    }
    .events__column {
      padding: 32px 16px;
      @media (max-width: $sm) {
        padding: 16px 0;
      }
    }
  }
  &__container {
    .events-title--edit {
      display: none;
    }
    .events__text--edit {
      display: none;
    }
  }
  &__container--edit {
    .events__title {
      display: none;
    }
    .events__text {
      display: none;
    }
  }
  &__form {
    padding: 80px 105px;
    background: white;
    &:nth-child(n + 2) {
      margin-top: 32px;
    }
  }
}

.css-events-admin {
  width: 100%;
}

#em-wrapper {
  position: relative;
  top: -15px;
}

.em-search-wrapper {
  border-bottom: 1px solid $color-gray-30;
  .em-events-search {
    padding: 16px 30px;
  }
  .em-search-main {
    width: calc(100% - 191px);
    @media (max-width: $sm) {
      width: 100%;
    }
  }
  div.css-search div.em-search-main .em-search-submit {
    background: $color-blue-50;
    text-shadow: none;
    border-radius: 100px;
    padding: 10px 36px;
    font-size: 14px;
    line-height: 20px;
    font-family: $secondary-font;
    font-weight: 400;
    top: 16px;
    right: 30px;
    @media (max-width: $sm) {
      position: static;
      width: 100%;
      margin-top: 24px;
    }
  }
  div.css-search input.em-search-text {
    @media (max-width: $sm) {
      width: 100%;
    }
  }
  div.css-search div.em-search-text {
    background-image: none;
    padding: 0;
    input {
      padding-left: 30px;
      background-image: url("./images/search.png");
      background-position: left;
      background-repeat: no-repeat;
      border-bottom: 1px solid $color-gray-20;
    }
  }
  div.css-search input.em-search-text {
    line-height: 22px;
  }
}

.em-search-wrapper .em-events-search,
.events__filter {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 5px 5px;
}

#event-form #event-name.event-creator__input {
  padding: 10px 0;
}

.event-creator {
  &__container:nth-child(n + 2) {
    margin-top: 32px;
  }
  &__container p {
    line-height: 24px;
  }
  &__dropdown,
  &__dropdown {
    @extend .select;
    width: 100%;
  }
  &__chevron {
    @extend .select__icon;
  }
  &__input {
    @extend .input;
  }
  &__label {
    @extend .label;
    padding-bottom: 8px;
    display: block;
  }
  &__fieldset {
    @extend .fieldset;
  }
  &__tag {
    @extend .tag;
    font-size: 14px;
    &:nth-child(n + 2) {
      margin: 8px 15px 8px 0;
    }
  }
  &__submit {
    text-align: center;
  }
  &__submit-btn {
    margin: 48px auto 0;
  }
  &__checkbox {
    display: none;
    & + .event-creator__tag {
      background: white;
      border: 1px solid #b1b1bc;
      &:hover {
        box-shadow: 0 0 0 4px #e0e0e0;
        border: 1px solid #e0e0e0;
      }
    }
    &:checked + .event-creator__tag {
      background: $color-gray-20;
      border: 1px solid $color-gray-20;
    }
  }
  &__three-up {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;

    #end-time,
    #start-time {
      width: 100%;
    }
    div:nth-child(n + 2) {
      margin-left: 32px;
    }
    select {
      @extend .select;
      max-width: 100%;
    }
    label {
      @extend .select__label;
      display: block;
    }
    svg {
      @extend .select__icon;
    }
    .wide {
      position: relative;
      width: calc(40% - 16px);
    }
    .wide--double {
      position: relative;
      width: calc(60% - 32px);
    }
    .thin {
      width: calc(20% - 64px);
      position: relative;
    }
  }
}
