@font-face {
    font-family: 'Open Sans', sans-serif;
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'ZillaSlab', serif;
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/ZillaSlab-Regular.ttf") format("truetype");
}
