.footer {
    width: 100%;
    background-color: $color-black;
    min-height: 387px;
    margin-top: 58px;
    position: relative;


    @include tablet-and-up {
        margin-top: 64px;
    }

    @include desktop-and-up {
        margin-top: 125px;
    }

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        color: $color-white;
        padding: 64px 24px 0;
        
        justify-content: flex-start;

        @include tablet-and-up {
            padding: 64px 64px 0;           
            flex-direction: row;
            flex-wrap: wrap;
        }

        @include desktop-and-up {
            padding: 64px 106px;
            max-width: $page-max-width;
        }
    }

    &__logo-container {                       
        width: 100%;
        svg {
            width: auto;
        }
    }

    &__menu-bottom-container {
        width: 100%;
        border-top: 1px solid $color-gray-secondary;
        margin-top: 56px;
        padding-top: 56px;
        margin-bottom: 64px;
        @include desktop-and-up {
            padding-top: 32px;
            margin-top: 32px;
        }
        
    }

    &__menu-svg-container {
    
        margin-top: 32px;

        @include tablet-and-up {
            margin-top: 0;
        }

        a {
            text-decoration: none;
            display: inline-block;
            margin-right: 25px;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    &__tag-line {
        font-size: remCalc(14);
        line-height: 24px;
        margin-top: 10px;
    }

    &__logo {
        height: 27px;
    }

    &__menu-container {
        display: flex;
        flex-direction: column;
        margin-top: 56px;
        width: 100%;

        @include tablet-and-up {
            margin-top: 48px;
            width: auto;
            flex-direction: row;
            margin-top: 32px;
        }


        .menu-mozilla-container,
        .menu-mozilla-main-menu-container {
            margin-top: 12px;
            @include tablet-and-up {
                margin-top: 0;
            }
        }
    }

    &__copy {
        max-width: 807px;
        font-size: remCalc(12);
        line-height: 16px;
    }

    &__menu-legal-container {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        @include tablet-and-up {
            flex-direction: row;
            align-items: center;
        }
    }

    .menu-item {
        display: block;
        margin: 0;
        padding: 0;

        .menu-item__link {
            color: $color-white;
        }
    }

    &__menu-title {
        display: block;
        font-size: remCalc(16);
        font-weight: bold;
        line-height: 28px;
        margin-bottom: 12px;
    }


    &__mozilla-container {
        border-top: 1px solid #737373;
        width: 100%;
        margin-top: 56px;
        padding-top: 56px;

        @include tablet-and-up {
            padding-top: 0;
            margin-top: 0;
            width: auto;
            border-top: none;
        }
    }

    &__link {
        color: $color-white;

    }
}

.footer-menu,
.footer-nav-menu {
    margin: 0;
    padding: 0;
    width: 100%;

    @include tablet-and-up {
        width: 198px;
        margin-right: 24px;
    }

    @include desktop-and-up {
        margin-left: 15px;
        width: 283px;
        margin-right: 32px;
    }


    &--primary {
        margin-left: 0;
    }

    .menu-item {
        width: 100%;
        text-align: left;
        margin-top: 12px;
        line-height: 32px;
        font-size: remCalc(18);

        &:first-of-type {
            margin-top: 0;
        }

        &.menu-item--active {
            .menu-item__link {
                &:after {
                    display: none;
                }
            }
        }
    }

}

.footer-legal-menu {
    margin: 0;
    padding: 0;
    width: 100%;

    @include tablet-and-up {
        width: 400px;
    }

    .menu-item {
        width: 100%;
        display: block;
        text-align: left;
        margin-bottom: 16px;

        @include tablet-and-up {
            margin-bottom: 0;
            display: inline-block;
            width: auto;
            margin-right: 24px;
        }

        .menu-item__link {
            font-size: remCalc(12);
            line-height: 12px;
            text-decoration: underline;
        }
    }
}

.footer-resources-menu,
.footer-mozilla-menu {

    margin: 0;
    padding: 0;

    .menu-item {
        text-align: left;
        margin: 0;
        padding: 0;
        margin-top: 12px;
        line-height: 32px;
        font-size: remCalc(16);
        width: 178px;
        
        &:first-of-type {
            margin-top: 0;
        }


        @include tablet-and-up {
            font-size: remCalc(18);
        }
    }
}

.footer-nav-menu {
    margin-top: 32px;
    @include tablet-and-up {
        margin-top: 0;
    }
}

.menu-footer-secondary-container {
    display: flex;
    flex-direction: row;
}

.footer-secondary-menu {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 32px;
    max-width: 850px;

    .menu-item {
        display: inline-block;
        width: auto;
        margin-right: 24px;
        .menu-item__link {
            font-size: remCalc(14);
        }
    }
}