.footer {
    width: 100%;
    background-color: $color-black;
    height: 387px;
    margin-top: 58px;


    @include tablet-and-up {
        margin-top: 64px;
    }

    @include desktop-and-up {
        margin-top: 125px;
    }

    &__container {
        max-width: 1228px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        color: $color-white;
        padding-top: 64px;
        justify-content: flex-start;

        @include tablet-and-up {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__logo-container {                       
        width: 100%;
    }

    &__tag-line {
        font-size: remCalc(14);
        line-height: 24px;
        margin-top: 10px;
    }

    &__logo {
        height: 27px;
    }

    &__menu-container {
        display: flex;
        flex-direction: column;
        margin-top: 32px;
        @include tablet-and-up {
            flex-direction: row;
        }
    }

    .menu-item {
        display: block;
        margin: 0;
        padding: 0;

        .menu-item__link {
            color: $color-white;
        }
    }
}

.footer-menu,
.footer-nav-menu {
    margin: 0;
    padding: 0;
    margin-left: 15px;

    &--primary {
        margin-left: 0;
    }

    .menu-item {
        width: 150px;
        text-align: left;
        margin-top: 12px;
        line-height: 32px;
        font-size: remCalc(18);
        font-weight: 600;

        &:first-of-type {
            margin-top: 0;
        }
    }
}

.footer-resources-menu,
.footer-mozilla-menu {

    margin: 0;
    padding: 0;

    .menu-item {
        text-align: left;
        margin: 0;
        padding: 0;
        margin-top: 12px;
        line-height: 32px;
        font-size: remCalc(18);
        font-weight: 600;
        width: 150px;
        
        &:first-of-type {
            margin-top: 0;
        }
    }
}
