.form {
    &__error-container {
        color: $error;
        display: none;
        font-size: remCalc(12);
        line-height: 20px;
        letter-spacing: 0.4px;
        margin-top: 4px;

        &--visible {
            display: block;
        }

        &--checkbox {
            margin-bottom: -24px;
        }
    }
    &__error--image {
      text-align: center;
    }
}

.input, 
.textarea,
.select {
    &:focus {
        outline: 0;
        border: 1px solid $color-blue-50;
    }
}

.input {
    background-color: $color-gray-20;
    border: 1px solid $color-gray-20;
    border-radius: 5px;
    box-sizing: border-box;
    height: 43px;
    padding: 15px;
    width: 100%;
    &--error {
        border-color: $error;
    }
}

.label {
    font-size: remCalc(16);
    line-height: 24px;

    &--inline {
        display: inline;
    }

    &--checkbox {
        cursor: pointer;
        padding-left: 32px;
    }
}

.textarea {
    background: $color-gray-20;
    border: 1px solid $color-gray-20;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
	resize: none;
    &--error {
        border-color: $error;
    }
}

.checkbox-container input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 35px;
    position: relative;

    &:hover input ~ .checkbox-check {
        box-shadow: 0px 0px 0px 4px  $color-gray-30;
        cursor: pointer;
        transition: all 0.3s ease-in;
	}
	&:focus input ~ .checkbox-check {
		outline: 1px solid $color-blue-50;
	}
}


.checkbox-container input:checked ~ .checkbox-check:after {
    display: block;
}

.checkbox--hidden {
	opacity: 0;
	position: absolute;
	&.profile__input--error + .cpg__label .form__error-container  {
		display: block;
	}
}

.cpg {
	height: auto;
	&__label {
		line-height: 24px;
		padding-left: 40px;
    position: relative;
    display: block;
		&:hover::before {
			background-color: $color-gray-20;
			;
		}
		&::before {
			transition: background-color 0.2s ease-in-out;
			background-color: white;
			content: '';
			display: inline-block;
			height: 24px;
			width: 24px;
			align-items: center;
			border: 1px solid $color-gray-secondary;
			border-radius: 2px;
			margin-right: 10px;
			position: absolute;
			left: 0;
		}
	}
	.checkbox--hidden:focus + .cpg__label::before {
		outline: 1px solid $color-blue-50;
	}
	.checkbox--hidden.profile__input--error:focus + .cpg__label::before {
		outline: 0;
		border: 1px solid $error;
	}
	.checkbox--hidden:checked + .cpg__label::before {
		background-image: url('./images/blue-check.svg');
	}
}

.checkbox-check {
    background: $color-white;
    border: 1px solid $color-gray-secondary;
    border-radius: 2px;
    height: 24px;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 24px;

    svg {
        display: none;
        height: 16px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 16px;
    }

    &:after {
        content: '';
        display: none;
        position: absolute;
    }
}

.radio-container {
    cursor: pointer;
    display: block;
    font-size: remCalc(14);
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 12px;
    position: relative;
    user-select: none;
}



.radio-container input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
}

.radio {
	&--custom {
		& + label {
			position: relative;
			padding-left: 35px;
		}
		&:focus + label::before {
			outline: 1px solid $color-blue-50;
		}
		& + label:before {
			position: absolute;
			left: 0;
			content: '';
			height: 20px;
			width: 20px;
			display: inline-block;
			border-radius: 50%;
			border: 2px solid $color-gray-40;
			transition: background-color 0.2s ease-in-out;
		}
		&:hover + label::before {
			background: $color-gray-30;
		}
		&:checked + label::before {
			background: $color-blue-50;
			border: 2px solid $color-blue-50;
			box-shadow: inset 0 0 0 2px white;
		}
	}
}

.radio-container .radio:after {
    background: $color-white;
    border-radius: 50%;
    height: 16px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
}

.select-container {
    position: relative;
}

.select {
    appearance: none;
    background: $color-gray-20;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g><path d="M8.12499 9L12.005 12.88L15.885 9C16.275 8.61 16.905 8.61 17.295 9C17.685 9.39 17.685 10.02 17.295 10.41L12.705 15C12.315 15.39 11.685 15.39 11.295 15L6.70499 10.41C6.51774 10.2232 6.41251 9.96952 6.41251 9.705C6.41251 9.44048 6.51774 9.18683 6.70499 9C7.09499 8.62 7.73499 8.61 8.12499 9Z" fill="black" fill-opacity="0.54"/></g></svg>');
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
    background-size: 25px;
    border: 1px solid $color-gray-20;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    box-sizing: border-box;
    border-radius: none;
    height: 43px;
    padding: 10px;
    -webkit-appearance: none;

    &--error {
        border-color: $error;
    }

    &--disabled {
        background-color: $color-white;
    }
}

.fieldset {
  border: 0;
}

.cta {
    background-color: $color-blue-50;
    border-radius: 28px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    color: $color-white;
    font-size: remCalc(14);
    height: 48px;
    line-height: 17px;
    min-width: 115px;
    padding: 15px 50px;

    &:hover {
        cursor: pointer;
    }
}

.autocomplete-suggestions {
    cursor: default; 
    background: $color-white; 
    border: 1px solid $color-gray-10; 
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 0; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    color: $color-black;
    display: none; 
    max-height: 254px; 
    overflow: hidden;
    overflow-y: auto; 
    padding: 10px;
    position: absolute; 
    text-align: left; 
    z-index: 9999; 
}

.autocomplete-suggestion { 
    color: #333; 
    font-size: remCalc; 
    line-height: 23px; 
    overflow: hidden; 
    padding: 0 .6em; 
    position: relative; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.autocomplete-suggestion b { 
    color: #1f8dd6; 
    font-weight: normal; 
}

.autocomplete-suggestion.selected { 
    background: #f0f0f0; 
}