.group {
    width: 100%;

    &__container {
        @extend .container; 
        max-width: 1440px;
        padding: 0 24px;

        @include tablet-and-up { 
            padding: 0 64px;
        }

        @include desktop-and-up {
            padding: 0 106px;
        }
    }

    &__title {
        font-family: 'Zilla Slab';
        color: $color-off-black;
        font-weight: 500;
        margin: 0;
        margin-top: 30px;
        font-size: remCalc(32);
        line-height: 40px;

        @include tablet-and-up {
            font-size: remCalc(36);
            line-height: 43px;
        }

        @include desktop-and-up {
            font-size: remCalc(48);
            line-height: 48px;;
        }
    }

    &__details {
        font-size: remCalc(14);
        line-height: 20px;
        letter-spacing: 0.0025em;
        color: $color-gray-secondary;
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }


    &__nav {
        display: none;

        @include tablet-and-up {
            height: 56px;
            border-top: 1px solid $color-gray-30;
            border-bottom: 1px solid $color-gray-30;
            width: 100%;
            margin-top: 32px;
            display: block;
        }

        &.group__nav--mobile {
            display: flex;
            border-top: 1px solid $color-gray-30;
            font-size: remCalc(14);
            line-height: 24px;
            color: $color-gray-secondary;
            padding-top: 16px;
            margin-top: 32px;

            @include tablet-and-up {
                display: none;   
            }

            .select-container {
                flex-grow: 1;    
                margin-left: 16px;    

                svg {
                    margin-top: 0;
                }
            }
        }
    }

    &__nav-select {
        background: transparent;
        appearance: none;
        -webkit-appearance: none;
        border: none;
        box-sizing: border-box;
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin-top: 32px;

        @include desktop-and-up {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__status {
        color: $color-black;
        display: inline-block;
        margin-left: 4px;
        text-decoration: underline!important;
    }

    &__created,
    &__location {
        display: inline-block;
        margin-left: 4px;

    }

    &__community-links {
        
        span {
            font-size: remCalc(14);
            line-height: 24px;
            display: block;
            color: $color-gray-secondary;
            width: 100%;
            margin-bottom: 16px;


        }

        margin-top: 32px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

    }

    &__community-link-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-right: 32px;
        margin-bottom: 24px;

        &:last-of-type {
            margin-right: 0;
        }

        svg {
            width: 24px;
            height: 24px;

            @include desktop-and-up {
                width: 32px;
                height: 32px;
            }
        }
    }

    &__meeting-location-link {
        text-decoration: none;
        font-size: remCalc(18);
        line-height: 28px;
        color: $color-blue-50;

    }

    &__social-link {
        text-decoration: none;
        font-size: remCalc(14);
        line-height: 20px;
        color: $color-blue-50;
        margin-left: 8px;

        @include tablet-and-up {
            font-size: remCalc(16);
            line-height: 24px;
        }

        @include desktop-and-up {
            font-size: remCalc(18);
            line-height: 28px;
        }
    }

    &__left-column {
        width: 100%;

        @include desktop-and-up {
            max-width: 703px;
        }
    }

    &__right-column {
        margin-top: 32px;
        width: 100%;
        .group__card {
            margin-top: 32px;

            &:first-of-type {
                margin-top: 0;
            }
        }

        @include desktop-and-up {
            margin-top: 0;
            width: 50%;
            max-width: 388px;
            margin-left: 40px;
        }
    }

    &__card {
        background-color: $color-white;
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        overflow: hidden;
        

        &.group__card--community-link {
            height: 88px;
        }
    }

    &__menu {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;

        .menu-item {
            display: inline-block;
            margin: 0;
            padding: 0;
            line-height: 54px;
            text-align: left;
        }
    }

    &__menu-link {
        text-decoration: none;
        font-size: remCalc(14);
        line-height: 22px;
        color: $color-black;

        &--active {
            font-weight: 600;
            position: relative;
            &:after {
                width: 100%;
                position: absolute;
                content: '';
                height: 2px;
                bottom: -15px;
                left: 0;
                background-color: $color-blue-50;
            }
        }
    }

    &__card-title {
        font-family: 'Zilla Slab';
        font-size: remCalc(24);
        line-height: 32px;
        margin: 0;
        padding: 0;
        margin-bottom: 16px;
        margin-top: 32px;
        font-weight: 500;
    }

    &__card-image {
        width: 100%;
        min-height: 128px;
        height: 100%;
        max-height: 298px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        position: relative;

        @include tablet-and-up {
            height: 298px;
        }

        @include desktop-and-up {
            height: 328px;
        }

        .group__edit-link {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: $color-white;
            width: 40px;
            height: 40px;
            top: 32px;
            right: 32px;
        }

    }

    &__card-no-image {
        height: 56px;
        background-color: $color-gray-10;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding-right: 32px;
        border-bottom: 1px solid $color-gray-20;
    }

    &__card-content {
        padding: 16px;

        @include tablet-and-up {
            padding: 24px;
        }

        @include desktop-and-up {
            padding: 32px;
        }

        &--small {
            padding: 16px 16px 0 16px; 
            @include tablet-and-up {
                padding: 24px 24px 0 24px; 
            }
            @include desktop-and-up {
                padding: 32px 32px 0 32px; 
            }
        }

        span {
            font-size: remCalc(14);
            line-height: 24px;
            color: $color-gray-secondary;
            display: inline-block;
            width: 100%;
            position: relative;

            &.no-line {
                &:after {
                    display: none;
                }
            }


            &.username {
                font-family: 'Zilla Slab';
                font-size: remCalc(20);
                line-height: 28px;
                color: $color-black;
                max-width: 285px;
                width: 100%;
                display: flex;
                padding-left: 11px;
                flex-direction: column;
                justify-content: center;
            }

        }

        hr {
            border: 0;
            height: 0;
            border-top: 1px solid $color-gray-20;
            margin: 24px 0;

            &.group__keyline {
                margin: 0 -16px;
                margin-bottom: 16px;

                @include tablet-and-up {
                    margin: 0 -24px;
                    margin-bottom: 24px;
                }
                
                @include tablet-and-up {
                    margin: 0 -32px;
                    margin-bottom: 32px;
                    
                }
            }
        }

        .group__card-title {
            margin-top: 0;
        }
    }

    &__card-copy {
        font-size: remCalc(16);
        line-height: 24px;    
        color: $color-off-black;
        margin: 0;
        margin-bottom: 12px;

        &:last-of-type {
            margin-bottom: 0;
        }

        @include desktop-and-up {
            font-size: remCalc(18);
            line-height: 28px;
        }
    }

    &__card-cta-container {
        display: flex;
        flex-direction: column;

        align-items: center;
        margin-bottom: 16px;

        &.group__card-cta-container--end {
            justify-content: flex-end;
        }

        @include tablet-and-up {
            justify-content: space-between;
            flex-direction: row;
            margin-bottom: 32px;
        }
    }

    &__leave-cta,
    &__join-cta {
        border-radius: 28px;
        background-color: $color-blue-50;
        color: $color-white;
        min-width: 160px;
        font-size: remCalc(16);
        line-height: 18px;
        text-decoration: none;
        text-align: center;
        padding: 15px 33px;
        height: 48px;
        margin-bottom: 16px;
        width: 188px;

        @include tablet-and-up {
            margin-bottom: 0;
        }
    }



    &__share-cta {
        border-radius: 28px;
        padding: 15px 33px;
        padding-left: 55px;
        text-align: center;
        text-decoration: none;
        border: 2px solid $color-blue-50;
        color: $color-blue-50;
        min-width: 160px;
        width: 188px;
        height: 48px;
        font-size: remCalc(16);
        line-height: 18px;
        position: relative;
        color: $color-blue-50;

        @include tablet-and-up {
            width: 188px;
        }

        svg {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 33px;
        }
    }

    &__tags {
        height: 100%;
        width: 100%;
        margin-top: 16px;
        margin-bottom: 24px;

        @include desktop-and-up {
            margin-bottom: 32px;
        }
    }

    &__tag {
        text-decoration: none;
        padding: 10px 15px;
        background-color: $color-gray-20;
        border-radius: 50px;
        color: $color-gray-80;
        display: inline-block;
        font-size: remCalc(14);
        line-height: 20px;
    }

    &__admins {
        width: 100%;
        margin-top: 16px;
        margin-bottom: 16px;

        @include tablet-and-up {
            margin-top: 24px;
            margin-bottom: 24px;
        }

        @include desktop-and-up {
            margin-top: 32px;
            margin-bottom: 32px;
        }
    }

    &__admin {
        display: flex;
        align-items: center;
        text-decoration: none;

        &:not(:first-of-type) {
            margin-top: 40px;
        }

        .members__avatar {
            width: 64px;
            height: 64px;
            min-width: 64px;
            background-color: $color-gray-20;
            border-radius: 50%!important;
        }

        .username {
            margin-left: 8px;
            color: $color-black;
        }
    }

    &__members-container {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    &__members {
        display: flex;
        flex-direction: column;


        @include tablet-and-up {
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__member-count-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
  
        border-top: 1px solid $color-gray-background;
        margin-top: 16px;
        margin: 0 -16px;
        padding: 16px 16px;

        @include tablet-and-up {
            margin-top: 24px;
            margin: 0 -24px;
            padding: 24px 24px;
        }

        @include desktop-and-up {
            margin-top: 32px;
            margin: 0 -32px;
            padding: 32px 32px;
        }



        &:first-of-type {
            border-top: none;
        }
    }

    span.group__member-count {
        font-family: 'Zilla Slab';
        font-size: remCalc(36);
        width: auto;
        color: $color-blue-50;
        margin-right: 8px;
        &:after {
            display: none;
        }
    }

    &__event {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 16px 24px;
        margin: 16px -16px;
        border-top: 1px solid $color-gray-background;
        border-bottom: 1px solid $color-gray-background;
        
        color: $color-black;

        @include tablet-and-up {
            padding: 24px 32px;
            margin: 24px -24px;
        }

        @include desktop-and-up {
            margin: 32px -32px;
        }
    }
 
    &__event-date {
        color: $color-blue-50;
        font-size: remCalc(20);
        line-height: 28px;
        width: 36px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 24px;
    }
 
    &__event-title {
        font-size: remCalc(16);
        line-height: 24px;
        margin-bottom: 8px;
        font-weight: 600;
    }
 
    &__event-location,
    &__event-time {
        font-size: remCalc(14);
        line-height: 20px;
        color: $color-gray-secondary;
        margin-bottom: 8px;
    }

    &__events-link {
        color: $color-blue-50;
        font-size: remCalc(16);
        line-height: 24px;
        margin-bottom: 24px;
        display: inline-block;

        @include desktop-and-up {
            margin-bottom: 32px;
        }
    }

    &__admin-name {
        font-size: remCalc(14)   ;
        line-height: 20px;
        color: $color-gray-secondary;
        margin-top: 8px;
    }
}