.group {
    width: 100%;

    &__container {
        @extend .container; 
    }

    &__title {
        color: $color-off-black;
        font-family: $title-font;
        font-size: remCalc(32);
        font-weight: 500;
        line-height: 40px;
        margin: 0;
        margin-top: 30px;

        @include tablet-and-up {
            font-size: remCalc(36);
            line-height: 43px;
        }

        @include desktop-and-up {
            font-size: remCalc(48);
            line-height: 48px;
        }
    }

    &__details {
        align-items: center;
        color: $color-gray-secondary;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-family: $copy-font;
        font-size: remCalc(14);
        justify-content: flex-start;
        line-height: 20px;
        letter-spacing: 0.0025em;
        margin: 0;
        margin-top: 16px;
    }


    &__nav {
        display: none;

        @include tablet-and-up {
            border-bottom: 1px solid $color-gray-30;
            border-top: 1px solid $color-gray-30;
            display: block;
            height: 56px;
            margin-top: 24px;
            width: 100%;
        }

        &.group__nav--mobile {
            border-bottom: 2px solid $color-blue-50;
            border-top: 1px solid $color-gray-30;
            color: $color-gray-secondary;
            display: flex;
            font-size: remCalc(14);
            line-height: 24px;
            margin-top: 24px;
            padding: 16px 0;
            
            @include tablet-and-up {
                display: none;   
            }

            .select-container {
                flex-grow: 1;    
                margin-left: 16px;    

                svg {
                    margin-top: 0;
                }
            }
        }
    }

    &__nav-select {
        @extend .select;

        border: none;
        box-shadow: none;
        width: 100%;
    }

    &__nav-select-label {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin-top: 32px;

        @include desktop-and-up {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__status {
        color: $color-black;
        display: inline-block;
        margin-left: 4px;
        text-decoration: underline!important;
    }

    &__created,
    &__location {
        display: inline-block;
        margin: 8px 4px;
    }

    &__community-links {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 32px;

        span {
            color: $color-gray-secondary;
            display: block;
            font-size: remCalc(14);
            line-height: 24px;
            margin-bottom: 16px;
            width: 100%;
        }
    }

    &__community-link-container {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 24px;
        margin-right: 32px;

        &:last-of-type {
            margin-right: 0;
        }

        svg {
            height: 24px;
            width: 24px;

            @include desktop-and-up {
                height: 32px;
                width: 32px;
            }
        }
    }

    &__meeting-location-link {
        color: $color-blue-50;
        font-size: remCalc(18);
        line-height: 28px;
        text-decoration: none;
    }

    &__social-link {
        color: $color-blue-50;
        font-size: remCalc(14);
        line-height: 20px;
        margin-left: 8px;
        text-decoration: none;

        @include tablet-and-up {
            font-size: remCalc(16);
            line-height: 24px;
        }

        @include desktop-and-up {
            font-size: remCalc(18);
            line-height: 28px;
        }
    }

    &__left-column {
        width: 100%;

        @include desktop-and-up {
            max-width: 703px;
        }
    }

    &__right-column {
        margin-top: 32px;
        width: 100%;

        .group__card {
            margin-top: 32px;

            &:first-of-type {
                margin-top: 0;
            }
        }

        @include desktop-and-up {
            margin-left: 40px;
            margin-top: 0;
            max-width: 388px;
            width: 50%;
        }
    }

    &__card {
        background-color: $color-white;
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        overflow: hidden;

        &.group__card--community-link {
            height: 88px;
        }

        &.group__card--table {
            .group__card-content {
                padding: 0;
            }
        }
    }

    &__menu {
        display: inline-block;
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;

        li.menu-item {
            display: inline-block;
            line-height: 54px;
            margin: 0;
            margin-right: 32px;
            padding: 0;
            text-align: left;
            width: auto;
        }
    }

    &__menu-link {
        color: $color-black;
        font-size: remCalc(14);
        line-height: 22px;
        text-decoration: none;

        &--active {
            font-weight: 600;
            position: relative;

            &:after {
                background-color: $color-blue-50;
                bottom: -20px;
                content: '';
                height: 2px;
                left: 0;
                position: absolute;
                width: 100%;
            }
        }
    }

    &__card-title {
        font-family: $title-font;
        font-size: remCalc(24);
        font-weight: 500;
        line-height: 32px;
        margin: 0;
        margin-bottom: 16px;
        margin-top: 32px;
        padding: 0;
    }

    &__card-image {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        height: 100%;
        max-height: 298px;
        min-height: 128px;
        position: relative;
        width: 100%;

        @include tablet-and-up {
            height: 298px;
        }

        @include desktop-and-up {
            height: 328px;
        }

        .group__edit-link {
            align-items: center;
            background-color: $color-white;
            border-radius: 50%;
            display: flex;
            height: 40px;
            justify-content: center;
            position: absolute;
            width: 40px;
            right: 32px;
            top: 32px;
        }
    }

    &__card-no-image {
        align-items: center;
        background-color: $color-gray-10;
        border-bottom: 1px solid $color-gray-20;
        display: flex;
        flex-direction: row;
        height: 56px;
        justify-content: flex-end;
        padding-right: 32px;
    }

    &__card-content {
        padding: 16px;

        @include tablet-and-up {
            padding: 24px;
        }

        @include desktop-and-up {
            padding: 32px;
        }

        &--small {
            padding: 16px 16px 0 16px; 

            @include tablet-and-up {
                padding: 24px 24px 0 24px; 
            }
            @include desktop-and-up {
                padding: 32px 32px 0 32px; 
            }
        }

        span {
            color: $color-gray-secondary;
            display: inline-block;
            font-size: remCalc(14);
            line-height: 24px;
            position: relative;
            width: 100%;

            &.no-line {
                &:after {
                    display: none;
                }
            }

            &.username {
                color: $color-black;
                display: flex;
                flex-direction: column;
                font-family: $title-font;
                font-size: remCalc(20);
                justify-content: center;
                line-height: 28px;
                max-width: 285px;
                padding-left: 11px;
                width: 100%;
            }

        }

        hr {
            border: 0;
            border-top: 1px solid $color-gray-20;
            height: 0;
            margin: 24px 0;

            &.group__keyline {
                margin: 0 -16px;
                margin-bottom: 16px;

                @include tablet-and-up {
                    margin: 0 -24px;
                    margin-bottom: 24px;
                }
                
                @include tablet-and-up {
                    margin: 0 -32px;
                    margin-bottom: 32px;
                    
                }
            }
        }

        .group__card-title {
            margin-top: 0;
        }

        p {
            color: $color-off-black;
            font-size: remCalc(16);
            line-height: 24px;    
            margin: 0;
            margin-bottom: 16px;
            word-break: break-word;
    
            &:last-of-type {
                margin-bottom: 0;
            }
    
            @include desktop-and-up {
                font-size: remCalc(18);
                line-height: 28px;
            }
        }
    }

    &__card-cta-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;

        &.group__card-cta-container--end {
            justify-content: flex-end;
        }

        @include tablet-and-up {
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 32px;
        }
    }

    &__leave-cta,
    &__join-cta {
        border-radius: 28px;
        background-color: $color-blue-50;
        color: $color-white;
        font-size: remCalc(16);
        height: 48px;
        line-height: 18px;
        margin-bottom: 16px;
        min-width: 160px;
        padding: 15px 33px;
        text-align: center;
        text-decoration: none;
        width: 188px;

        @include tablet-and-up {
            margin-bottom: 0;
        }
    }



    &__share-cta {
        border: 2px solid $color-blue-50;
        border-radius: 28px;
        color: $color-blue-50;
        font-size: remCalc(16);
        height: 48px;
        line-height: 18px;
        min-width: 160px;
        padding: 15px 33px;
        padding-left: 55px;
        position: relative;
        text-align: center;
        text-decoration: none;
        width: 188px;

        @include tablet-and-up {
            width: 188px;
        }

        svg {
            left: 33px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__tags {
        height: 100%;
        margin-bottom: 24px;
        margin-top: 16px;
        width: 100%;

        @include desktop-and-up {
            margin-bottom: 32px;
        }
    }

    &__tag {
        background-color: $color-gray-20;
        border-radius: 50px;
        color: $color-gray-80;
        display: inline-block;
        font-size: remCalc(14);
        line-height: 20px;
        margin-bottom: 8px;
        padding: 10px 15px;
        text-decoration: none;
    }

    &__admins {
        margin-top: 16px;
        margin-bottom: 16px;
        width: 100%;

        @include tablet-and-up {
            margin-bottom: 24px;
            margin-top: 24px;
        }

        @include desktop-and-up {
            margin-bottom: 32px;
            margin-top: 32px;
        }
    }



    &__admin {
        align-items: center;
        display: flex;
        text-decoration: none;

        &:not(:first-of-type) {
            margin-top: 40px;
        }

        .members__avatar {
            background-color: $color-gray-20;
            border-radius: 50%!important;
            height: 64px;
            min-width: 64px;
            width: 64px;
        }

        .username {
            color: $color-black;
            margin-left: 8px;
        }
    }

    &__members-container {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    &__members {
        display: flex;
        flex-direction: column;

        @include tablet-and-up {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__member-count-container {
        align-items: center;
        border-top: 1px solid $color-gray-background;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0 -16px;
        margin-top: 16px;
        padding: 16px 16px;
  
        @include tablet-and-up {
            margin: 0 -24px;
            margin-top: 24px;
            padding: 24px 24px;
        }

        @include desktop-and-up {
            margin: 0 -32px;
            margin-top: 32px;
            padding: 32px 32px;
        }



        &:first-of-type {
            border-top: none;
        }
    }
    
    span.group__event-count,
    a.group__member-count {

        color: $color-blue-50;
        font-family: $title-font;
        font-size: remCalc(36);
        margin-right: 8px;
        text-decoration: none;
        width: auto;

        &:after {
            display: none;
        }
    }

    &__event {
        border-top: 1px solid $color-gray-background;
        border-bottom: 1px solid $color-gray-background;
        color: $color-black;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 16px -16px;
        padding: 16px 24px;
        text-decoration: none;
        

        @include tablet-and-up {
            margin: 24px -24px;
            padding: 24px 32px;
        }

        @include desktop-and-up {
            margin: 32px -32px;
        }
    }
 
    &__event-date {
        color: $color-blue-50;
        display: flex;
        flex-direction: column;
        font-size: remCalc(20);
        justify-content: center;
        line-height: 28px;
        margin-right: 24px;
        text-align: center;
        width: 36px;
    }
 
    &__event-title {
        font-size: remCalc(16);
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 8px;
    }
 
    &__event-location,
    &__event-time {
        color: $color-gray-secondary;
        font-size: remCalc(14);
        line-height: 20px;
        margin-bottom: 8px;
    }

    &__events-link {
        color: $color-blue-50;
        display: inline-block;
        font-size: remCalc(16);
        line-height: 24px;
        margin-bottom: 24px;

        svg {
            margin-left: 4px;
        }

        @include desktop-and-up {
            margin-bottom: 32px;
        }
    }

    &__admin-name {
        color: $color-gray-secondary;
        font-size: remCalc(14)   ;
        line-height: 20px;
        margin-top: 8px;
    }

    &__announcements {
        border-spacing: 0;
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;

        tbody {
            td {
                border-top: 1px solid $color-gray-20;
                margin: 0 -16px;

                @include tablet-and-up {
                    margin: 0 -24px;
                }

                @include desktop-and-up {
                    margin: 0 -32px;
                }
            }
        }
    }

    &__table-header {
        font-size: remCalc(14);
        line-height: 24px;
        padding: 16px;

        @include tablet-and-up {
            padding: 24px
        }

        @include desktop-and-up {
            font-size: remCalc(16);
            padding: 32px;
        }
        
        &.group__table-header--topic {
            min-width: 70%;
            text-align: left;
        }

        &.group__table-header--activity {
            display: none;

            @include tablet-and-up {
                display: table-cell;
            }
        }
    }

    &__table-cell {
        font-size: remCalc(16);
        line-height: 24px;
        padding: 16px;
        text-align: center;

        @include tablet-and-up {
            padding: 24px;
        }

        @include desktop-and-up {
            font-size: remCalc(18);
            line-height: 28px;
            padding: 32px;
        }

        &.group__table-cell--topic {
            min-width: 70%;
            text-align: left;
        }

        &.group__table-cell--activity {
            display: none;

            @include tablet-and-up {
                display: table-cell;
            }
        }
    }

    &__topic-title {
        color: $color-black;
    }

    &__topic-date {
        color: $color-gray-secondary;
        font-size: remCalc(14);
        letter-spacing: 0.0025em;
        line-height: 24px;
    }

    &__topic-link {
        text-decoration: none;
        
        &:before {
            content: "";
            display: block;
            height: 22%;
            left: 0;
            position: absolute;
            width: 100%;
        }
    }

    &__view-updates-link {
        color: $color-blue-50;
        font-size: remCalc(16);
        line-height: 24px;
        text-decoration: none;

        svg {
            margin-left: 8px;
        }
    }
}