.groups {
    width: 100%;

    &__container {
        @extend .container;
        max-width: 1440px;
        min-width: 320px;
        padding: 0 24px;
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        margin-top: 53px;
        flex-wrap: wrap;

        @include tablet-and-up {
            padding: 0 64px;    
        }

        @include desktop-and-up {
            padding: 0 106px;
        }
    }

    &__hero {
        width: 100%;
        background-color: #AAF2FF;
        height: 384px;

        padding: 0 24px;

        @include tablet-and-up {
            padding: 0 64px;
            height: 404px;
            background-image: url('./images/groups-header.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right -50px bottom -10px;
        }
        
        @include desktop-and-up {
            height: 332px;
            padding: 0 106px;
            background-image: none;
        }
    }

    &__hero-container {
        @extend .container; 
        position: relative;
        justify-content: center;
        max-width: 1228px;
        padding: 0;
        height: 100%;
        text-align: center;
        background-repeat: no-repeat;
        padding-top: 24px;

        @include tablet-and-up {
            padding-top: 0;
            display: flex;
            flex-direction: column;
            text-align: left;
        }

        @include desktop-and-up {
            background-size: contain;
            background-image: url('./images/groups-header.png');
            background-position: right;
        }

    }

    &__hero-link {
        color: $color-black;
    }

    &__title {
        font-size: remCalc(32);
        line-height: 40px;
        margin: 0;
        padding: 0;
        font-weight: 300;
        display: inline-block;
        width: auto;
        font-family: $title-font;
        margin-bottom: 16px;
        position: relative;
        padding-left: 30px;

        &:after {
            position: absolute;
            content: '';
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            background-color: #00B3F4;
        }
        
        @include tablet-and-up {
            text-align: left;
            font-size: remCalc(36);
            line-height: 43px;
        }

        @include desktop-and-up {
            font-size: remCalc(48);
            line-height: 56px;
        }
    }

    &__hero-copy {
        text-align: center;
        font-size: remCalc(16);
        line-height: 28px;
        margin: 0 auto;
        max-width: 270px;
        margin-bottom: 24px;

        @include tablet-and-up {
            font-size: remCalc(18);
            margin: 0;
            margin-bottom: 24px;
            text-align: left;
            max-width: 300px;
        }

        @include desktop-and-up {
            max-width: 595px;
        }
    }

    &__search-container {
        position: absolute;
        left: 0;
        bottom: -28px;
        background-color: $color-white;
        width: 100%;
        padding: 16px 30px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;


        @include desktop-and-up {
            max-width: 703px;
        }
    }

    &__filter-container {
        background-color: $color-white;
        width: 100%;
        padding: 16px 30px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-bottom: 24px;
        

        span {
            display: inline-block;
            width: 100%;
            margin-bottom: 18px;

            @include desktop-and-up {
                margin-bottom: 0;
                display: inline;
                width: auto;
            }
        }

        &.groups__filter-container--hidden {
            display: none;

            @include tablet-and-up {
                display: flex!important;// We need this because of the inline styles applied by slideToggle
                flex-direction: row!important;  
            }
        }

        @include tablet-and-up {
            display: flex!important;
            flex-direction: row!important;
            align-items: center!important;
            flex-wrap: wrap!important;
        }

        @include desktop-and-up {
            justify-content: space-between!important;
        }

    }

    &__input-container {
        position: relative;
        height: 100%;
        width: 100%;

        svg {
            position: absolute;
            left: 0;
            top: 7px;
        }
    }

    &__search-cta {
        @extend .cta;
        text-align: center;
        width: 100%;

        @include tablet-and-up {
            width: auto;
        }
    }

    &__search-input {
        border: none;
        background-color: $color-white;
        border-bottom: 1px solid $color-gray-20;
        padding: 6px 32px;
        width: 100%;
        font-size: remCalc(16);
        line-height: 24px;
        color: $color-gray-secondary;
        margin-bottom: 24px;


        @include tablet-and-up {
            margin-bottom: 0;
            max-width: 450px;
        }
    }


    &__form {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include tablet-and-up {
            justify-content: space-between;
            flex-direction: row;
        }
    }

    &__nav {
        width: 100%;
        height: 58px;
        display: none;

        @include tablet-and-up {
            display: block;
            border-bottom: 1px solid $color-gray-30;
        }

        &.groups__nav--mobile {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            position: relative;
            color: $color-gray-secondary;
            font-size: remCalc(14);
            line-height: 24px;
            border-top: 1px solid $color-gray-30;
            border-bottom: 1px solid $color-gray-30;
            height: 56px;
            margin-bottom: 24px;

            @include tablet-and-up {
                display: none;
            }

            svg {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    &__nav-select {
        background: transparent;
        appearance: none;
        -webkit-appearance: none;
        border: none;
        box-sizing: border-box;
        width: 100%;
        margin-left: 8px;
    }

    &__menu {
        border-top: 1px solid $color-gray-30;
        padding: 0;
        margin: 0;

        .menu-item {
            width: auto;
        }
    }

    &__menu-link {
        color: $color-black;
        text-decoration: none;
        font-size: remCalc(14);
    }


    &__select-container {
        display: flex;
        flex-direction: row;
        flex-grow: 1;    
        position: relative;
        align-items: center;
        width: 100%;
        margin-bottom: 8px;
        margin-left: 0;
        flex-wrap: wrap;

        @include tablet-and-up {            
            margin-bottom: 0;
            width: 40%;
        }

        @include desktop-and-up {
            margin-left: 16px;    
            flex-wrap: nowrap;
            width: auto;
        }

        svg {
            position: absolute;
            right: 16px;
            margin-top: 0;
            top: 34px;

            @include desktop-and-up {
                top: 6px;
            }
        }
    }

    &__show-filters-container {
        text-align:  center;
        margin: 0 auto;

        @include tablet-and-up {
            display: none;
        }
    }

    &__show-filter {
        display: inline-block;
        min-width: 272px;
        border: 1px solid $color-blue-50;
        box-sizing: border-box;
        border-radius: 28px;
        padding: 10px 15px;
        color: $color-blue-50;
        text-decoration: none;
    }

    &__location-select {
        width: 100%;
        background: $color-gray-20;
        appearance: none;
        -webkit-appearance: none;
        border: none;
        box-sizing: border-box;
        padding: 8px 16px;

        @include tablet-and-up {
            margin-right: 16px;
        }

        @include desktop-and-up {
            margin-right: 0;
            width: 100%;
        }
    }

    &__tag-select {
        width: 100%;
        background: $color-gray-20;
        appearance: none;
        -webkit-appearance: none;
        border: none;
        box-sizing: border-box;
        padding: 8px 16px;

    }


    &__label {
        font-size: remCalc(14);
        line-height: 22px;
        color: $color-gray-secondary;
        margin-right: 8px;
        display: block;
        width: 100%;
        margin-bottom: 8px;
        
        @include desktop-and-up {
            margin-bottom: 0;
            width: auto;
            display: inline-block;
        }
    }

    &__groups {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 24px;

        @include tablet-and-up {
            flex-direction: row;
            justify-content: flex-start;
        }

        &:after {
            content: '';
            flex: auto;
        }
    }

    &__card {
        // height: 272px;
        display: block;
        background-color: $color-white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        text-decoration: none;
        margin-bottom: 24px;
        overflow: hidden;
        width: 100%;
        flex-wrap: wrap;
        transition: box-shadow 0.3s ease-in-out;
        
        &.groups__card--homepage {
            height: 100%;
            max-height: 435px;
        }


        @include tablet-and-up {
            flex: 0 48%;
            margin-right: 4%;
            //height: 307px;

            &:nth-of-type(2n) {
                margin-right: 0;
            }
        }

        @include desktop-and-up {
            //height: 388px;
            
            flex: 0 32%;
            margin-right: 2%;
            &:nth-of-type(2n) {
                margin-right: 2%;
            }

            &:nth-of-type(3n) {
                margin-right: 0;
            }
        }

        &:hover {
            box-shadow: 0 0 0 4px #d7d7db;
        }
    }

    &__group-image {
        height: 122px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;


        @include tablet-and-up {
            height: 140px;
        }

        @include desktop-and-up {
            height: 175px;
        }
    }

    &__group-title {
        font-size: remCalc(24);
        line-height: 32px;
        font-family: $title-font;
        color: $color-black;
        margin: 0;
        padding: 0;
        margin-bottom: 16px;
    }

    &__card-content {
        padding: 24px 32px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: remCalc(14);
        line-height: 20px;
        color: $color-gray-secondary;
        //height: 273px;
        height: calc(100% - 122px);

        @include tablet-and-up {
            // height: 255px;
            height: calc(100% - 140px);
        }

        @include desktop-and-up {
            height: calc(100% - 175px);
        }
    }

    &__card-info {
        margin-top: auto;
    }

    &__card-location {
        margin-bottom: 8px;
    }

    &__card-tags {
        margin-top: 24px;
        width: 100%;
    }

    &__tag {
        font-size: remCalc(12);
        line-height: 16px;
        border-radius: 50px;
        background-color: $color-gray-20;
        display: inline-block;
        padding: 6px;
        margin-right: 8px;
        color: $color-gray-80;
        min-width: 80px;
        text-align: center;

        margin-bottom: 8px;
    }

    &__pagination {
        margin-top: 40px;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__pagination-container {
        max-width: 324px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: remCalc(14);
        line-height: 22px;
        color: $color-black;
        height: 24px;
    }

    &__pagination-link {
        text-decoration: none;
        font-size: remCalc(14);
        line-height: 22px;
        color: $color-black;
        margin-right: 1em;
        

        &.groups__pagination-link--active {
            position: relative;
            &:after {
                position: absolute;
                display: block;
                content : '';
                width: 100%;
                border-bottom: 1px solid $color-black;
                left: 0;
                bottom: -2px;
            }
        }

        &.members__pagination-link--last,
        &.members__pagination-link--first {
            margin-right: 0;
        }

    }

    &__no-results {
        font-size: remCalc(20);
        line-height: 28px;
        text-align: center;
        width: 100%;
        margin-top: 24px;

        @include tablet-and-up {
            margin-top: 64px;
        }

        @include desktop-and-up {
            margin-top: 106px;
        }
    }

    &__results-query {
        width: 100%;
        font-size: remCalc(20);
        line-height: 28px;
        margin-bottom: 32px;
    }


    &__tag-link {
        display:inline;
        text-decoration: none;
        color: $color-black;
    }
}