.groups {
    width: 100%;

    &__container {
        @extend .container;
        align-content: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 24px;

        @include tablet-and-up {
            margin-top: 69px;    
        }
    }

    &__hero {
        background-color: #AAF2FF;
        height: 384px;
        padding: 0 $mobile-padding;
        width: 100%;

        @include tablet-and-up {
            background-image: url('./images/groups-header.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right -50px bottom -10px;
            height: 404px;
            padding: 0 $tablet-padding;
        }
        
        @include desktop-and-up {
            background-image: none;
            height: 332px;
            padding: 0 $desktop-padding;
        }
    }

    &__hero-container {
        @extend .container; 
        background-repeat: no-repeat;
        height: 100%;
        justify-content: center;
        max-width: 1228px;
        padding: 0;
        padding-top: 24px;
        position: relative;
        text-align: center;

        @include tablet-and-up {
            display: flex;
            flex-direction: column;
            padding-top: 0;
            text-align: left;
        }

        @include desktop-and-up {
            background-image: url('./images/groups-header.png');
            background-position: right;
            background-size: contain;
        }

    }

    &__hero-link {
        color: $color-black;
    }

    &__title {
        @extend .hero-title;

        &:after {
            background-color: $color-blue-30;
        }
    }

    &__hero-copy {
        @extend .hero-copy;

        @include desktop-and-up {
            max-width: 595px;
        }
    }

    &__search-container {
        background-color: $color-white;
        bottom: -5px;
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        left: 0;
        padding: 16px 30px;
        position: absolute;
        width: 100%;

        @include tablet-and-up {
            bottom: -45px;
        }

        @include desktop-and-up {
            max-width: 703px;
        }
    }

    &__filter-container {
        background-color: $color-white;
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 24px;
        padding: 16px 30px;
        width: 100%;
        
        span {
            display: inline-block;
            margin-bottom: 18px;
            width: 100%;
            @include desktop-and-up {
                display: inline;
                margin-bottom: 0;
                width: auto;
            }
        }

        &.groups__filter-container--hidden {
            display: none;

            @include tablet-and-up {
                display: flex!important;// We need this because of the inline styles applied by slideToggle
                flex-direction: row!important;  
            }
        }

        @include tablet-and-up {
            align-items: center!important;
            display: flex!important;
            flex-direction: row!important;
            flex-wrap: wrap!important;
        }

        @include desktop-and-up {
            justify-content: space-between!important;
        }

    }

    &__input-container {
        height: 100%;
        position: relative;
        width: 100%;

        svg {
            left: 0;
            position: absolute;
            top: 7px;
        }
    }

    &__search-cta {
        @extend .cta;

        text-align: center;
        width: 100%;

        @include tablet-and-up {
            width: auto;
        }
    }

    &__search-input {
        background-color: $color-white;
        border: none;
        border-bottom: 1px solid $color-gray-20;
        color: $color-gray-secondary;
        font-size: remCalc(16);
        line-height: 24px;
        margin-bottom: 24px;
        padding: 6px 32px;
        width: 100%;

        @include tablet-and-up {
            margin-bottom: 0;
            max-width: 450px;
        }
    }


    &__form {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;

        @include tablet-and-up {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__nav {
        display: none;
        height: 58px;
        width: 100%;

        @include tablet-and-up {
            border-bottom: 1px solid $color-gray-30;
            display: block;
        }

        &.groups__nav--mobile {
            align-items: center;
            border-top: 1px solid $color-gray-30;
            border-bottom: 1px solid $color-gray-30;
            color: $color-gray-secondary;
            display: flex;
            flex-direction: row;
            font-size: remCalc(14);
            height: 56px;
            justify-content: flex-start;
            line-height: 24px;
            margin-bottom: 24px;
            position: relative;
            width: 100%;

            @include tablet-and-up {
                display: none;
            }

            svg {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    &__nav-select {
        appearance: none;
        background: transparent;
        background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g><path d="M8.12499 9L12.005 12.88L15.885 9C16.275 8.61 16.905 8.61 17.295 9C17.685 9.39 17.685 10.02 17.295 10.41L12.705 15C12.315 15.39 11.685 15.39 11.295 15L6.70499 10.41C6.51774 10.2232 6.41251 9.96952 6.41251 9.705C6.41251 9.44048 6.51774 9.18683 6.70499 9C7.09499 8.62 7.73499 8.61 8.12499 9Z" fill="black" fill-opacity="0.54"/></g></svg>');
        background-size: 25px;
        background-position: calc(100% - 10px) center;
        background-repeat: no-repeat;
        border: none;
        box-sizing: border-box;
        margin-left: 8px;
        width: 100%;
        -webkit-appearance: none;
    }

    &__menu {
        border-top: 1px solid $color-gray-30;
        margin: 0;
        padding: 0;

        .menu-item {
			width: auto;
			&:first-child .groups__menu-link {
				padding-left: 0;
			}
			&:first-child .group__menu-link--active::after {
				width: calc(100% - 16px);
				left: 0;
			}
        }
    }

    &__menu-link {
        color: $color-black;
        font-size: remCalc(14);
        text-decoration: none;
        display: inline-block;
        padding: 16px;
    }


    &__select-container {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-grow: 1;    
        flex-wrap: wrap;
        margin-bottom: 8px;
        margin-left: 0;
        position: relative;
        width: 100%;

        @include tablet-and-up {            
            margin-bottom: 0;
            width: 40%;
        }

        @include desktop-and-up {
            flex-wrap: nowrap;
            margin-left: 16px;    
            width: auto;
        }
    }

    &__show-filters-container {
        margin: 0 auto;
        text-align:  center;

        @include tablet-and-up {
            display: none;
        }
    }

    &__show-filter {
        border: 1px solid $color-blue-50;
        border-radius: 28px;
        box-sizing: border-box;
        color: $color-blue-50;
        display: inline-block;
        min-width: 272px;
        padding: 10px 15px;
        text-decoration: none;
    }

    &__location-select {
        appearance: none;
        background: $color-gray-20;
        background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g><path d="M8.12499 9L12.005 12.88L15.885 9C16.275 8.61 16.905 8.61 17.295 9C17.685 9.39 17.685 10.02 17.295 10.41L12.705 15C12.315 15.39 11.685 15.39 11.295 15L6.70499 10.41C6.51774 10.2232 6.41251 9.96952 6.41251 9.705C6.41251 9.44048 6.51774 9.18683 6.70499 9C7.09499 8.62 7.73499 8.61 8.12499 9Z" fill="black" fill-opacity="0.54"/></g></svg>');
        background-position: calc(100% - 10px) center;
        background-repeat: no-repeat;
        background-size: 25px;
        border: none;
        box-sizing: border-box;
        padding: 8px 16px;
        -webkit-appearance: none;
        width: 100%;
        
        @include tablet-and-up {
            margin-right: 16px;
        }

        @include desktop-and-up {
            margin-right: 0;
            width: 100%;
        }
    }

    &__tag-select {
        appearance: none;
        background: $color-gray-20;
        background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g><path d="M8.12499 9L12.005 12.88L15.885 9C16.275 8.61 16.905 8.61 17.295 9C17.685 9.39 17.685 10.02 17.295 10.41L12.705 15C12.315 15.39 11.685 15.39 11.295 15L6.70499 10.41C6.51774 10.2232 6.41251 9.96952 6.41251 9.705C6.41251 9.44048 6.51774 9.18683 6.70499 9C7.09499 8.62 7.73499 8.61 8.12499 9Z" fill="black" fill-opacity="0.54"/></g></svg>');
        background-size: 25px;
        background-position: calc(100% - 10px) center;
        background-repeat: no-repeat;
        border: none;
        box-sizing: border-box;
        padding: 8px 16px;
        -webkit-appearance: none;
        width: 100%;
        
    }


    &__label {
        color: $color-gray-secondary;
        display: block;
        font-size: remCalc(14);
        line-height: 22px;
        margin-bottom: 8px;
        margin-right: 8px;
        width: 100%;
        
        @include desktop-and-up {
            display: inline-block;
            margin-bottom: 0;
            width: auto;
        }
    }

    &__groups {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 24px;
        width: 100%;

        @include tablet-and-up {
            flex-direction: row;
            justify-content: flex-start;
        }

        &:after {
            content: '';
            flex: auto;
        }
    }

    &__card {
        background-color: $color-white;
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		display: flex;
		flex-direction: column;
        margin-bottom: 24px;
        overflow: hidden;
        text-decoration: none;
        transition: box-shadow 0.3s ease-in-out;
		width: 100%;

		&--homepage {
			height: 100%;
		}
        @include tablet-and-up {
            flex: 0 48%;
            margin-right: 4%;

            &:nth-of-type(2n) {
                margin-right: 0;
            }
        }

        @include desktop-and-up {
            flex: 0 32%;
            margin-right: 2%;

            &:nth-of-type(2n) {
                margin-right: 2%;
            }

            &:nth-of-type(3n) {
                margin-right: 0;
            }
        }

        &:hover {
            box-shadow: 0 0 0 4px #d7d7db;
        }
    }

    &__group-image {
		padding-top: 45.5%;
        background-size: contain;
        background-repeat: no-repeat;
		background-position: top center;
		background-color: #f8f8f8;
    }

    &__group-title {
        color: $color-black;
        font-family: $title-font;
        font-size: remCalc(24);
        line-height: 32px;
        margin: 0;
        margin-bottom: 16px;
        padding: 0;
    }

    &__card-content {
		color: $color-gray-secondary;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-grow: 1;
		font-size: remCalc(14);
        justify-content: flex-start;
        line-height: 20px;
        padding: 24px 32px;
    }

    &__card-info {
        margin-top: auto;
    }

    &__card-location {
        margin-bottom: 8px;
    }

    &__card-tags {
        margin-top: auto;
		width: 100%;
	}
    &__card-tags__container {
		display: flex;
		padding: 0;
		align-items: flex-end;
		margin: 24px 0 0;
		flex-wrap: wrap;
	}
    &__tag {
        color: $color-gray-80;
        background-color: $color-gray-20;
        border-radius: 50px;
        display: inline-block;
        font-size: remCalc(12);
        line-height: 16px;
        margin-right: 8px;
        margin-bottom: 8px;
        min-width: 80px;
        padding: 6px;
        text-align: center;
    }

    &__pagination {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 40px;
        width: 100%;
    }

    &__pagination-container {
        align-items: center;
        color: $color-black;
        display: flex;
        flex-direction: row;
        font-size: remCalc(14);
        height: 24px;
        justify-content: space-between;
        line-height: 22px;
        max-width: 324px;
        width: 100%;
    }

    &__pagination-link {
        color: $color-black;
        font-size: remCalc(14);
        line-height: 22px;
        margin-right: 1em;
        text-decoration: none;

        &.groups__pagination-link--active {
            position: relative;

            &:after {
                content : '';
                position: absolute;
                border-bottom: 1px solid $color-black;
                bottom: -2px;
                display: block;
                width: 100%;
                left: 0;
            }
        }

        &.members__pagination-link--last,
        &.members__pagination-link--first {
            margin-right: 0;
        }

    }

    &__no-results {
        font-size: remCalc(20);
        line-height: 28px;
        margin-top: 24px;
        text-align: center;
        width: 100%;

        @include tablet-and-up {
            margin-top: 64px;
        }

        @include desktop-and-up {
            margin-top: 106px;
        }
    }

    &__results-query {
        font-size: remCalc(20);
        line-height: 28px;
        margin-bottom: 32px;
        width: 100%;
    }


    &__tag-link {
        color: $color-black;
        display: inline;
        text-decoration: none;
    }


}