.homepage {
  &__container {
    @extend .container;
    max-width: 1440px;
    padding: 0 24px;
    @include tablet-and-up {
      padding: 0 64px;
    }
    @include desktop-and-up {
      padding: 0 106px;
    }
  }
  a {
    text-decoration: none;
  }
  &__hero {
    min-height: calc(100vh - 138px);
    display: flex;
    align-items: center;
    padding: 40px 0;
    &__title {
      margin: 0;
      width: 80%;
      span {
        font-weight: bold;
      }
    }
    &__text {
      @include tablet-and-up {
        padding-right: 8.33333%;

      }
    }
    &__subtitle {
      margin: 16px 0 32px;
      @include desktop-and-up {
        margin-top: 18px;
      }
    }
    &__cta {
      width: 100%;
      text-align: center;
      @include tablet-and-up {
        width: auto;
      }
    }
    @include tablet-and-up {
      padding: 70px 0 40px;
    }
  }
  &__hero__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 50px;
    margin-bottom: 48px;
    img {
      border-radius: 50%;
      display: block;
      max-width: 100%;
    }
    &::before {
      content: '';
      background-image: url('./images/homepage-hero-shape.svg');
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
      left: -10%;
      top: -50px;
      background-size: contain;
      background-position: top center;
      background-repeat: no-repeat;
      @include tablet-and-up {
        left: -15%;
      }
      @include desktop-and-up {
        left: -20%;
      }
    }
  }
  &__events {
    position: relative;
    margin-top: 36px;
    margin-bottom: 36px;
    &__background {
      position: absolute;
      top: 200px;
      left: 200px;
      height: calc(100% - 94px);
      width: calc(100% - 94px);
      background-color: $color-yellow-20;
      z-index: -1;
    }
    @include tablet-and-up {
      margin-top: 48px;
      margin-bottom: 48px;
    }
    @include desktop-and-up {
      margin-top: 80px;
      margin-bottom: 80px;
    }
    &__grid {
      .events__column:nth-of-type(3n) {
        @include tablet-and-up {
          padding-right: 16px;
        }
        @include desktop-and-up {
          padding-right: 0;
        }
      }
      .events__column:nth-of-type(3n + 1) {
        @include desktop-and-up {
          padding-left: 0;
        }
      }
      .events__column:nth-of-type(2n + 1) {
        @media (min-width: $screen-tablet-min) and (max-width: $screen-desktop-min) {
          padding-left: 0;
        }
      }
      .events__column:nth-of-type(2n) {
        @media (min-width: $screen-tablet-min) and (max-width: $screen-desktop-min) {
          padding-right: 0px;
        }
      }
      .events__column {
        padding: 16px 0;
        @include tablet-and-up {
          padding: 32px 16px;
        }
      }
    }
  
    &__subheader {
      margin-top: 0;
      margin-bottom: 24px;
      text-align: center;
      @include tablet-and-up {
        margin-bottom: 0;
        max-width: 50%;
        text-align: left;
      }
    }
    &__cta {
      @include tablet-and-up {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
    &__meta {
      margin-bottom: 32px;
      @include tablet-and-up {
        margin-bottom: 32px;
      }
      @include desktop-and-up {
        margin-bottom: 40px;
      }
    }
    &__count {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      &__span {
        display: block;
        text-align: center;
        margin-bottom: 32px;
      }
      &__link,
      &__link:visited {
        color: $color-blue-50;
        &::after {
          content: url('./images/chevron-right-2.svg');
          display: inline-block;
          padding-left: 4px;
          position: relative;
          top: 3px;
        }
      }
    }
  }
}