.homepage {
  &__container {
    @extend .container;
    max-width: 1440px;
  }
  a {
    text-decoration: none;
  }
  &__hero {
    min-height: calc(100vh - 138px);
    display: flex;
    align-items: center;
    padding: 40px 0;
    &__title {
      margin: 0;
      width: 80%;
      span {
        font-weight: bold;
      }
    }
    &__text {
      @include tablet-and-up {
        padding-right: 8.33333%;

      }
    }
    &__subtitle {
      margin: 16px 0 32px;
      @include desktop-and-up {
        margin-top: 18px;
      }
    }
    &__cta {
      width: 100%;
      text-align: center;
      @include tablet-and-up {
        width: auto;
      }
    }
    @include tablet-and-up {
      padding: 70px 0 40px;
    }
  }
  &__hero__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 50px;
    margin-bottom: 48px;
    img {
      border-radius: 50%;
      display: block;
      max-width: 100%;
    }
    &::before {
      content: '';
      background-image: url('./images/homepage-hero-shape.svg');
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
      left: -10%;
      top: -80px;
      background-size: contain;
      background-position: top center;
      background-repeat: no-repeat;
    }
  }
}