.lightbox {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    display: none;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    
    &__container {
        background: white;
        max-width: 810px;
        padding: 24px;
        position: relative;
        width: 80%;

        @include tablet-and-up {
            padding: 48px;
        }

        .row {
            max-height: 60vh;
            overflow: scroll;
        }

        p {
            margin-top: 0;
        }
    }

    .btn--close {
        padding: 24px;
        position: absolute;
        top: 0;
        right: 0;
    }

    &-show {
        display: flex;
    }
}
