.members {
    width: 100%;

    &__hero {
        background-color: $color-green-20;
        height: 388px;
        padding: 0 $mobile-padding;
        width: 100%;

        @include tablet-and-up {
            background-image: url("./images/mozilla-create-profile.png");
            background-position: right -140px center;
            background-size: 470px 470px;
            background-repeat: no-repeat;
            height: 404px;
            padding: 0 $tablet-padding;
        }
        
        @include desktop-and-up {
            background-image: none;
            height: 332px;
            padding: 0 $desktop-padding;
        }
    }

    &__hero-container {
        @extend .container; 

        height: 100%;
        max-width: 1228px;
        padding: 0;
        padding-top: 24px;
        position: relative;
        text-align: center;;

        @include tablet-and-up {
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 0;
            text-align: left;
        }

        @include desktop-and-up {
            background-image: url("./images/mozilla-create-profile.png");
            background-position: right -40px bottom -40px;
            background-size: 440px 440px;
        }

    }

    &__title {
        @extend .hero-title;

        &:after {
            background-color: $color-green-60;
        }
    }

    &__hero-copy {
        @extend .hero-copy;
    }

    &__search-container {
        background-color: $color-white;
        border-radius: 5px;
        bottom: -5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        left: 0;
        padding: 16px 30px;
        position: absolute;
        width: 100%;

        @include tablet-and-up {
            bottom: -45px;
        }

        @include desktop-and-up {
            max-width: 703px;
        }

    }

    &__results-for {
        color: $color-black;
        font-size: remCalc(20);
        line-height: 28px;
        margin-top: 8px;
        margin-bottom: 32px;
        width: 100%;
    }

    &__filter-container {
        background-color: $color-white;
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 0 auto;
        margin-bottom: 24px;
        max-width: 1228px;
        padding: 16px 30px;
        width: 100%;
        
        span {
            display: inline-block;
            margin-bottom: 18px;
            width: 100%;
            @include desktop-and-up {
                display: inline;
                margin-bottom: 0;
                width: auto;
            }
        }

        &.members__filter-container--hidden {
            display: none;

            @include tablet-and-up {
                display: flex;// We need this because of the inline styles applied by slideToggle
                flex-direction: row;  
            }
        }

        @include tablet-and-up {
            align-items: center;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        @include desktop-and-up {
            justify-content: space-between;
        }

    }

    &__input-container {
        height: 100%;
        position: relative;
        width: 100%;

        svg {
            left: 0;
            position: absolute;
            top: 7px;
        }
    }


    &__select-container {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-grow: 1;    
        flex-wrap: wrap;
        margin-bottom: 8px;
        margin-left: 0;
        position: relative;
        width: 100%;

        @include tablet-and-up {            
            margin-bottom: 0;
            width: 40%;
        }

        @include desktop-and-up {
            flex-wrap: nowrap;
            margin-left: 16px;    
            width: auto;
        }
    }

    &__show-filters-container {
        margin: 0 auto;
        text-align:  center;

        @include tablet-and-up {
            display: none;
        }
    }

    &__show-filter {
        border: 1px solid $color-blue-50;
        border-radius: 28px;
        box-sizing: border-box;
        color: $color-blue-50;
        display: inline-block;
        min-width: 272px;
        padding: 10px 15px;
        text-decoration: none;
    }

    &__location-select {
        appearance: none;
        background: $color-gray-20;
        background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g><path d="M8.12499 9L12.005 12.88L15.885 9C16.275 8.61 16.905 8.61 17.295 9C17.685 9.39 17.685 10.02 17.295 10.41L12.705 15C12.315 15.39 11.685 15.39 11.295 15L6.70499 10.41C6.51774 10.2232 6.41251 9.96952 6.41251 9.705C6.41251 9.44048 6.51774 9.18683 6.70499 9C7.09499 8.62 7.73499 8.61 8.12499 9Z" fill="black" fill-opacity="0.54"/></g></svg>');
        background-position: calc(100% - 10px) center;
        background-repeat: no-repeat;
        background-size: 25px;
        border: none;
        box-sizing: border-box;
        padding: 8px 16px;
        -webkit-appearance: none;
        width: 100%;
        
        @include tablet-and-up {
            margin-right: 16px;
        }

        @include desktop-and-up {
            margin-right: 0;
            width: 100%;
        }
    }

    &__tag-select {
        appearance: none;
        background: $color-gray-20;
        background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g><path d="M8.12499 9L12.005 12.88L15.885 9C16.275 8.61 16.905 8.61 17.295 9C17.685 9.39 17.685 10.02 17.295 10.41L12.705 15C12.315 15.39 11.685 15.39 11.295 15L6.70499 10.41C6.51774 10.2232 6.41251 9.96952 6.41251 9.705C6.41251 9.44048 6.51774 9.18683 6.70499 9C7.09499 8.62 7.73499 8.61 8.12499 9Z" fill="black" fill-opacity="0.54"/></g></svg>');
        background-size: 25px;
        background-position: calc(100% - 10px) center;
        background-repeat: no-repeat;
        border: none;
        box-sizing: border-box;
        padding: 8px 16px;
        -webkit-appearance: none;
        width: 100%;
        
    }


    &__label {
        color: $color-gray-secondary;
        display: block;
        font-size: remCalc(14);
        line-height: 22px;
        margin-bottom: 8px;
        margin-right: 8px;
        width: 100%;
        
        @include desktop-and-up {
            display: inline-block;
            margin-bottom: 0;
            width: auto;
        }
    }

    &__input-container {
        height: 100%;
        position: relative;
        width: 100%;

        svg {
            left: 0;
            position: absolute;
            top: 7px;
        }
    }

    &__search-cta {
        @extend .cta;
        
        border: none;
        text-align: center;
        width: 100%;

        @include tablet-and-up {
            width: auto;
        }
    }

    &__search-input {
        background-color: $color-white;
        border: none;
        border-bottom: 1px solid $color-gray-20;
        color: $color-gray-secondary;
        font-size: remCalc(16);
        line-height: 24px;
        margin-bottom: 24px;
        padding: 6px 32px;
        width: 100%;

        @include tablet-and-up {
            margin-bottom: 0;
            max-width: 450px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0;
        margin-top: 32px;
        padding: 0 $mobile-padding;
        width: 100%;

        @include tablet-and-up {
            margin-top: 83px;
            padding: 0 $tablet-padding;
        }

        @include desktop-and-up {
            padding: 0 $desktop-padding;
        }
    }

    &__people-container {
        @extend .container;

        display: flex;
        flex-direction: column;
        max-width: 1228px;
        padding: 0;
        width: 100%;

        @include tablet-and-up {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__form {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;

        @include tablet-and-up {
            justify-content: space-between;
            flex-direction: row;
        }
    }

    &__member-card {
        align-items: center;
        background-color: $color-white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        border-radius: 4px;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 32px;
        padding: 16px;
        text-decoration: none;
        transition: box-shadow 0.3s ease-in-out;
        width: 100%;

        &:hover {
            box-shadow: 0 0 0 4px #d7d7db;
        }

        @include tablet-and-up {
            margin-left: 24px;
            width: 48%;

            &:nth-of-type(odd) {
                margin-left: 0;
            }
        }
    }

    &__member-info {
        margin-left: 16px;
    }

    &__avatar {
		background-color: $color-gray-20;
		background-position: center;
        border-radius: 50%!important;
        background-size: cover;
        height: 80px;
        overflow: hidden;
        width: 80px;
    }

    &__location {
        align-items: center;
        display: flex;
        color: $color-gray-secondary;
        flex-direction: row;
        font-size: remCalc(14);
        justify-content: flex-start;
        letter-spacing: 0.0025em;
        line-height: 20px;
        margin-top: 8px;
    }

    &__username {
        color: $color-off-black;
        font-family: $title-font;
        font-size: remCalc(20);
        line-height: 28px;
        margin: 0;
        margin-bottom: 8px;
    }

    &__name {
        color: $color-gray-secondary;
        font-size: remCalc(14);
        letter-spacing: 0.0025em;
        line-height: 20px;
        margin: 0;
        padding: 0;
    }

    &__pagination {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 40px;
        width: 100%;
    }

    &__pagination-container {
        align-items: center;
        color: $color-black;
        display: flex;
        flex-direction: row;
        font-size: remCalc(14);
        height: 24px;
        justify-content: space-between;
        line-height: 22px;
        max-width: 324px;
        width: 100%;
    }

    &__pagination-link {
        color: $color-black;
        font-size: remCalc(14);
        line-height: 22px;
        margin-right: 1em;
        text-decoration: none;
        
        &.members__pagination-link--active {
            position: relative;

            &:after {
                content : '';
                border-bottom: 1px solid $color-black;
                bottom: -2px;
                display: block;
                left: 0;
                position: absolute;
                width: 100%;
            }
        }

        &.members__pagination-link--last,
        &.members__pagination-link--first {
            margin-right: 0;
        }

    }
}