.nav {
    display: none;

    @include desktop-and-up {
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
        display: block;
        width: 100%;
    }

    &__container {
        @extend .container;

        align-items: center;
        color: $color-black;
        display: flex;
        flex-direction: row;
        height: 58px;
        justify-content: flex-start;

        .menu-item--active {
            background-color: $color-gray-10;
        }
    }

    &__header {
        background-color: $color-white;
        display: flex;
        flex-direction: column;
        height: 80px;
        justify-content: center;
    }

    &__menu {
        background-color: $color-black;
        height: 58px;
    }

    &__avatar-link {
        color: $color-black;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        text-decoration: none;
    }

    &__logo {
        height: 48px;
    }
    
    &__search-container {
        position: relative;
        width: 240px;
    }

    &__search {
        background-color: $color-gray-20;
        border: 1px solid $color-gray-20;
        border-radius: 5px;
        color: $color-gray-secondary;
        font-size: remCalc(12);
        height: 27px;
        line-height: 20px;
        padding: 5px 10px 5px 28px;
        width: 100%;
    }

    &__search-icon {
        left: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &__login {
        align-items: center;
        display: flex;
        flex-direction: row;
        font-family: $title-font;
        font-size: remCalc(16);
        font-weight: 500;
        justify-content: flex-end;
        line-height: 25px;
        margin-left: auto;
        margin-right: 40px;
    }

    &__logout-link {
        color: $color-black;
        display: inline-block;
        font-family: $copy-font;
        font-size: remCalc(12);
        line-height: 16px;
        margin-left: 24px;
        margin-top: 2px;
    }

    &__login-link {
        color: $color-black;
        font-size: remCalc(16);
        line-height: 24px;
        text-decoration: none;

        &.nav__login-link--mobile {
            margin-left: auto;
        }
    }

    &__logo {
        height: 48px;
    }

    &__avatar {
        background-color: $color-gray-20;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        height: 24px;
        margin-right: 8px;
        overflow: hidden;
        width: 24px;
    }
}

.nav--mobile {
    display: block;
    height: 62px;
    min-width: 320px;
    position: relative;
    width: 100%;
    z-index: 100;

    .nav__container {
        @extend .container;

        align-items: center;
        background-color: $color-white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: space-between;
        margin: 0 auto;
        max-width: $container-max-width;
        padding: 0 $mobile-padding;
        z-index: 120;

        @include tablet-and-up {
            padding: 0 $tablet-padding;
        }
    }

    .nav__avatar-container {
        align-items: center;
        display: flex;
        flex-direction: row;
        font-family: $title-font;
        font-size: remCalc(16);
        justify-content: flex-start;
        line-height: 24px;
        position: absolute;
        right: 64px;
        top: calc(50% - 2px);
        transform: translateY(-50%);

        @include tablet-and-up {
            right: 114px;
        }
    }

    .nav__username {
        display: none;

        @include tablet-and-up {
            display: block;
        }
    }

    .nav__trigger {
        cursor: pointer;
        display: block;
        height: 24px;
        opacity: 0;
        position: absolute;
        width: 24px;

        &:checked ~ .nav__label {
            .nav__hamburger-line {
                &:nth-of-type(1) {
                    opacity: 1;
                    transform: rotate(45deg) translate(0, 0);
                }

                &:nth-of-type(2) {
                    opacity: 0;
                    transform: rotate(0deg) scale(0.2, 0.2);
                }

                &:nth-of-type(3) {
                    transform: rotate(-45deg) translate(0, -3px);
                }
            }
        }

        &:checked ~ .nav__menu-container {
            opacity: 1;
            transform: none;
            visibility: visible;
            z-index: 120;
        }

        &:checked ~ .nav__avatar-container {
            display: none;
        }
    }

    .nav__menu-container {
        background-color: $color-white;
        height: calc(100vh - 62px);
        width: 100%;
        left: 0;
        opacity: 0;
        overflow: auto;
        position: absolute;
        transform-origin: 0% 0%;
        transform: translate(0, -20px);
        transition: transform 0.4s cubic-bezier(0.77, 0.2, 0.05, 1),
        opacity 0.8s cubic-bezier(0.77, 0.2, 0.05, 1);
        top: 62px;
        visibility: hidden;
        z-index: 1;
    }

    .nav__hamburger-line {
        background-color: $color-black;
        border-radius: 3px;
        display: block;
        width: 24px;
        height: 3px;
        margin-bottom: 5px;
        position: relative;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        opacity 0.55s ease;

        &:first-child {
            transform-origin: 0% 0%;
        }

        &:nth-last-child(2) {
            transform-origin: 0% 100%;
        }
    }

    .nav__user-container {
        align-items: center;
        border-top: 1px solid $color-gray-20;
        border-bottom: 1px solid $color-gray-20;
        display: flex;
        flex-direction: row;
        font-family: $title-font;
        font-size: remCalc(16);
        justify-content: flex-start;
        line-height: 24px;
        margin: 0 $mobile-padding;
        padding: 24px 0;

        @include tablet-and-up {
            margin: 0 $tablet-padding;
        }

        .nav__logout-link {
            color: $color-black;
            font-family: $copy-font;
            font-size: remCalc(14);
            line-height: 22px;
            margin-left: auto;
        }
    }

    .nav__search-container {
        padding: 24px;
        width: 100%;

        @include tablet-and-up {
            padding: 24px 64px;
        }

        .nav__search-icon {
            left: 35px;
            @include tablet-and-up {
                left: 75px;
            }
        }
    }

    @include desktop-and-up {
        display: none;
    }
}

.menu--mobile {
    background-color: $color-black;
    display: block;
    height: calc(100% - 150px);
    margin: 0;
    min-height: 350px;
    padding: 24px $mobile-padding;
    width: 100%;

    @include tablet-and-up {
        min-height: 275px;
        padding: 24px $tablet-padding;
    }

    .menu-item {
        border-bottom: 1px solid $color-white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 56px;
        padding: 0;
        text-align: left;
        width: 100%;
    }

    @include desktop-and-up {
        display: none;
    }
}

.menu {
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu-item {
    display: inline-block;
    height: 100%;
    width: 130px;
    padding: 0;
    text-align: center;

    &:first-of-type {
        padding-left: 0;
        text-align: left;

        .menu-item__link {
            padding-left: 0;
        }
    }

    &.menu-item--active {
        background-color: $color-black;
        display: inline-block;

        .menu-item__link { 
            position: relative;

            &:after {
                bottom: 2px;
                border-bottom: 2px solid $color-white;
                content: '';
                display: block;
                left: 16px;
                position: absolute;
                width: calc(100% - 32px);
            }
        }
    }
}

.menu-item__link {
    color: $color-white;
    font-size: remCalc(16);
    line-height: 24px;
    padding: 18px 0;
    display: inline-block;
    text-decoration: none;

    @include desktop-and-up {
        padding: 16px;
    }
}

.menu-mozilla-main-menu-container {
    height: 100%;
}