.page {

    &__container {
        @extend .container;
        max-width: 1440px;
        padding: 0 24px;

        @include tablet-and-up { 
            padding: 0 64px;
        }

        @include desktop-and-up {
            padding: 0 106px;
        }
    }

    &__title {
        text-align: center;
        font-family: 'Zilla Slab';
        color: $color-off-black;
        font-weight: 500;
        margin: 0 0 32px;
        margin-top: 30px;
        font-size: remCalc(32);
        line-height: 40px;

        @include tablet-and-up {
            font-size: remCalc(36);
            line-height: 43px;
        }

        @include desktop-and-up {
            font-size: remCalc(48);
            line-height: 48px;;
        }
    }

    &__content {
        width: 100%;

        p {
            font-size: remCalc(16);
            line-height: 24px;    
            color: $color-off-black;
            margin: 0;
            margin-bottom: 12px;
    
            &:last-of-type {
                margin-bottom: 0;
            }
    
            @include desktop-and-up {
                font-size: remCalc(18);
                line-height: 28px;
            }
        }

        a {
            color: $color-black;
        }

        ul {
            padding: 0 16px;
        }

        h2,
        h3,
        h4 {
            font-family: 'Zilla Slab';
        }

    }
}