.buddypress-wrap {
    .profile {
        margin-top: 0!important;
    }
}

.profile {
    width: 100%;
    overflow: hidden;
    position: relative;

    // Edit Profile Styles
    &__hero {
        width: 100%;
        background-color: $color-green-20;
        height: 430px;
        padding: 0 24px;

        @include tablet-and-up {
            padding: 0 64px;
            height: 393px;
            background-image: url("./images/mozilla-create-profile.png");
            background-position: right -50px center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        
        @include desktop-and-up {
            height: 430px;
            background-image: none;
            padding: 0 106px;
        }
    }


    &__section {
        min-width: 272px;
        max-width: 703px;
        width: 100%;

        @include tablet-and-up {
            margin-right: 32px;
        }

        &.profile__section--right {
            margin-top: 0;

            @include tablet-and-up {
                margin-top: 32px;
            }

            @include desktop-and-up {
                margin-top: 0;
                max-width: 388px;
                width: 50%;
                margin-right: 0;
            }
        }
    }

    &__hero-container {
        @extend .container; 
        max-width: 1228px;
        padding: 0;
        padding-top: 24px;
        height: 100%;

        @include tablet-and-up {
            padding-top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
        }

        @include desktop-and-up {
            background-repeat: no-repeat;
            background-image: url("./images/mozilla-create-profile.png");
            background-size: 600px;
            background-position: right -160px bottom -40px;
            min-width: 1018px;
        }
    }

    &__hero-link {
        color: $color-black;
        text-decoration: underline!important;
    }

    &__hero-content {
        max-width: 1018px;
        width: 100%;
        margin: 0 auto;
    }

    &__container {
        @extend .container; 
        max-width: 1228px;
        padding: 0;
        position: relative;
    }

    &__image-header {
        width: 608px;
        height: 608px;
        position: absolute;
        top: -540px;
        right: -42px;
        z-index: 1;
    }

    &__title {
        font-size: remCalc(32);
        line-height: 40px;
        text-align: center;
        margin: 0;
        padding: 0;
        font-weight: 300;
        display: block;
        width: 100%;
        font-family: 'Zilla Slab';
        margin-bottom: 16px;
        
        @include tablet-and-up {
            text-align: left;
            font-size: remCalc(36);
            line-height: 43px;
        }

        @include desktop-and-up {
            font-size: remCalc(48);
            line-height: 56px;
        }
    }

    &__hero-copy {
        text-align: center;
        font-size: remCalc(16);
        line-height: 24px;
        margin: 0 auto;
        max-width: 270px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        @include tablet-and-up {
            font-size: remCalc(18);
            margin: 0;
            text-align: left;
            max-width: 300px;
        }

        @include desktop-and-up {
            max-width: 595px;
            span {
                display: inline-block;
                margin-left: 16px;
            }
        }

        &.profile__hero-copy--small {
            font-size: remCalc(14);
            margin-top: 16px;
            text-align: center;
            max-width: none;

            @include tablet-and-up {
                max-width: 300px;
                margin-top: 24px;
                text-align: left;
            }
        }

        &.profile__hero-copy--green {
            background-color: #B0EED7;
            padding: 16px;
            border-radius: 4px;
            max-width: none;
            font-size: remCalc(16);
            line-height: 24px;

            span {
                text-align: left;
            }

            @include tablet-and-up {
                max-width: 345px;
            }


            @include desktop-and-up {
                max-width: 595px;
            }

            svg {
                flex-shrink: 0;
                margin-right: 10px;
            }
        }
    }

    &__form-container {
        padding: 48px 16px;
        background-color: $color-white;
        border-radius: 4px;
        box-shadow: 0px 4px 4px #D7D7DB;
        min-height: 100px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        min-width: 272px;
        width: 100%;
        margin-top: 32px;

        &.profile__form-container--first {
            margin-top: -160px;

            @include tablet-and-up { 
                margin-top: -65px;
            }

            @include desktop-and-up {
                margin-top: -100px;
            }
        }

        p {
            font-size: remCalc(16);
            line-height: 24px;

            @include tablet-and-up {
                font-size: remCalc(18);
            }
        }
        
        @include tablet-and-up {
            padding: 64px 24px;
            min-width: 640px;
        }

        @include desktop-and-up {
            max-width: 1018px;
            padding: 64px 104px 80px 104px;
        }
    }

    &__form-primary {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
        width: 100%;
        padding: 0;
        padding-bottom: 32px;

        @include tablet-and-up {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__form-title {
        font-family: Zilla Slab;
        font-size: remCalc(24);
        font-weight: 400;
        line-height: 29px;
        margin: 0;
        margin-bottom: 16px;

        @include tablet-and-up {
            margin-bottom: 0;
            font-size: remCalc(32);
            line-height: 40px;
        }
    }

    &__form {
        width: 100%;
        padding: 0 24px;

        @include tablet-and-up {
            padding: 0 64px;
        }

        @include desktop-and-up {
            padding: 0 106px;
        }
    }

    &__input-container {
        width: 100%;

        @include tablet-and-up {
            margin-right: 32px;
        }

        @include desktop-and-up {
            max-width: 600px;
        }

        &.profile__input-container--profile {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
    }

    &__form-field {
        width: 100%;
        margin: 0;
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        @include tablet-and-up {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
        }

        &.profile__form-field--header {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &.profile__form-field--tight {
            margin-bottom: 8px;
        }

        &.profile__form-field--hidden {
            display: none;
        }

    }

    &__keyline {
        border: 0;
        margin: 0;
        height: 1px;
        background: $color-gray-30;
        width: 100%;
        margin-bottom: 32px;
        
    }

    &__form-visibility {
        font-size: remCalc(16);
        line-height: 22px;
        color: $color-gray-secondary;
        margin: 0;
        max-width: 180px;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        margin-bottom: 32px;
        padding-top: 31px;


        &.profile__form-visibility--no-span {
            padding-top: 30px;
        }
    }

    &__select-container {
        @extend .select-container;
        width: 100%;
        margin-top: 24px;

        select {
            @extend .select;
            width: 100%;
            border-radius: 5px!important;

            &.select {
                &.select--disabled {
                    color: $color-gray-secondary;
                    border-color: $color-gray-secondary;
                    background-color: $color-white;
                }
            }

            &.profile__select--short {
                margin-top: 0;
            }
        }

        svg {
            right: 12px;
            top: 40px;
        }

        @include tablet-and-up {
            margin-top: 0;
            max-width: 180px;
        }

        &.profile__select-container--full {
            margin-top: 0;

            svg {
                right: 2px;
            }

            @include tablet-and-up {
                width: 100%;
                max-width: 600px;
                margin-right: 32px;

            }
        }

        &.profile__select-container--inline {
            margin-right: 32px;
        }

        &.profile__select-container--half {
            margin-bottom: 24px;

            @include tablet-and-up {
                margin-bottom: 0;
                max-width: 300px;
            }
        }

        &.profile__select-container--no-label {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            max-width: none;
            margin-top: 8px;
            svg {
                top: 0;
                right: 50px;
            }
        }
        
        &.profile__select-container--mobile {
            margin-bottom: 32px;

            @include tablet-and-up {
                display: none;
            }
        }

        &.profile__select-container--flex {

            @include tablet-and-up {
                max-width: 227px;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                flex-wrap: wrap;
            }
        }

        &.profile__select-container--hide-mobile {
            display: none;
            @include tablet-and-up {
                display: flex;
                flex-wrap: wrap;
            }
        }

        &.profile__select-container--empty {
            margin: 0;

            @include tablet-and-up {
                margin-top: 24px;
            }
        }


    }

    &__add-language-container {
        margin-top: 8px;
        margin-bottom: 18px;
    }

    &__add-language {
        font-size: remCalc(14);
        line-height: 22px;
        color: $color-blue-50;
        position: relative;
        text-decoration: none;
        &:after {

            content: '';
            display: block;
            width: 100%;
            position: absolute;
            bottom: -2px;
            left: 0;
            border: 1px solid $color-blue-50;

        }
    }

    &__remove-language {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        background-color: $color-white;
        border: 2px solid $color-gray-20;
        margin-left: 8px;
        color: $error;  
    }

    &__cta-container {
        margin-top: 48px;
        text-align: center;
        .profile__cta {
            @extend .cta;
            border-radius: 28px !important;
        }
    }

    &__label {
        @extend .label;
        display: block;
        width: 100%;
        color: $color-gray-secondary;

        &.profile__label--full {
            width: 100%;
            margin-left: 49px;
        }
    }

    &__select {
        @extend .select;
        margin-top: 15px;

        &.profile__select--flex {
            @include tablet-and-up {
                max-width: 180px;
            }
        }


        &.profile__input--error {
            border: 1px solid $error;
        }

        &.profile__select--hide {
            display: none;
        }
    }

    &__input-desc {
        font-size: remCalc(14);
        line-height: 20px;
        letter-spacing: 0.0025em;
        color: $color-gray-secondary;
        margin-top: 8px;
        display: block;
    }

    &__input {
        @extend .input;
        margin-top: 15px;

        &--error {
            @extend .input--error;
        }
    }

    &__checkbox-container {
        @extend .checkbox-container; 
        margin-top: 15px;
    }

    &__checkbox-container input {
        @extend .checkbox-container;
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &__checkbox-container input:checked ~ .profile__check  {
        transition: none;
        border: 1px solid $color-blue-50;

        &:hover {
            box-shadow: none;
        }

        svg {
            display: block;
        }
    }

    &__success-message-container {
        padding: 0 24px;
        margin-top: 88px;
        text-align: center;

        .profile__title {
            text-align: center;
        }

        @include tablet-and-up {
            padding: 0;
        }
    }

    &__success-message {
        max-width: 595px;
        margin: 0 auto;
        font-size: remCalc(16);
        line-height: 24px;
    }


    &__button {
        @extend .cta;
        border-radius: 28px;

        &:first-of-type {
            margin-bottom: 24px;
            @include tablet-and-up {
                margin-bottom: 0;
                margin-right: 10px;
            }
        }

        &:nth-of-type(2) {
            @include tablet-and-up {
                margin-left: 10px;
            }
        }

        &.profile__button--secondary {
            background-color: transparent;
            border: 1px solid $color-blue-50;
            color: $color-blue-50;
        }
    }

    &__button-container {
        margin-top: 43px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include tablet-and-up  {
            flex-direction: row;
        }

    }

    // Public Profile Styles
    &__public-container {
        @extend .container;
        max-width: 1018px;
        height: 100%;
        padding: 0 24px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 25px;
        margin-bottom: 50px;

        @include tablet-and-up {
            margin-top: 64px;
            padding: 0 64px;
        }

        @include desktop-and-up {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            padding: 0 106px;
            max-width: 1440px;
        }
    }

    &__card {
        background-color: $color-white;
        padding: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        margin-bottom: 32px;


        @include tablet-and-up {
            padding: 24px;
            margin-bottom: 24px;
        }   

        @include desktop-and-up {
            padding: 32px;
            margin-bottom: 32px;
            max-width: 703px;
            width: 100%;
            min-width: 515px;
        }
    }
    
    &__contact-title {
        font-size: remCalc(14);
        line-height: 24px;
        color: $color-gray-secondary;
        letter-spacing: 0.0025em;
        display: block;
        margin-bottom: 16px;
    }

    &__card-header-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;   
        margin-bottom: 32px;

        @include tablet-and-up {
            flex-direction: row;
        }
    }

    &__link {
        color: $color-blue-50;
        font-size: remCalc(16);
        line-height: 24px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;

        svg {
            margin-right: 6px;
        }
    }

    &__avatar {
        border-radius: 50%!important;
        height: 124px;
        width: 124px;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        background-color: $color-gray-20;
        margin-bottom: 16px;

        @include tablet-and-up {
            margin-bottom: 0;
            margin-right: 24px;
        }

        @include desktop-and-up {
            height: 160px;
            width: 160px;
        }
    }

    &__user-title {
        font-family: 'Zilla Slab';

        font-size: remCalc(18);
        line-height: 25px;
        color: $color-off-black;
        font-weight: 500;
        margin: 0;
        margin-bottom: 3px;
        text-align: center;

        @include tablet-and-up {
            line-height: 28px;
            font-size: remCalc(20);
            text-align: left;
        }
    }

    &__name-container {
        text-align: center;

        @include tablet-and-up {
            text-align: left;
        }
    }

    &__user-name {
        display: block;
        font-weight: 600;
        font-size: remCalc(20);
        line-height: 18px;
        width: 100%;
        text-align: center;

        @include tablet-and-up {
            text-align: left;
        }
    }

    &__edit-link-container {
        display: none;

        @include tablet-and-up {
            align-self: flex-start;
            margin-left: auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        &.profile__edit-link-container--mobile {
            display: block;
            width: 100%;
            text-align: right;
            position: relative;
            z-index: 25;

            .profile__link {
                justify-content: flex-end;
                margin-bottom: 16px;
            }

            @include tablet-and-up {
                display: none;
            }
        }
    }

    &__email-icon {
        display: inline-block;
        margin-right: 8px;
    }

    &__email-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 24px;
    }

    &__email {
        display: block;
    }


    &__location-icon {
        margin-right: 8px;
        display: inline-block;
    }

    &__location-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-content: center;
        margin-bottom: 24px;
    }

    &__phone-icon {
        margin-right: 8px;
        display: inline-block;   
    }

    &__phone-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-content: center;
    }

    &__phone {
        display: block;
    }

    &__details {
        font-size: remCalc(14);
        line-height: 20px;
        letter-spacing: 0.0025em;
        width: 100%;
    }

    &__email {
        padding-left: 40px;
        display: inline-block;
    }

    &__city-country {
        display: block;
    }

    #profile-photo-uploader {
        width: 105px;
        height: 105px;
        background-color: $color-gray-20;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin-top: 8px;
        z-index: 100;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        &:hover {
            cursor: pointer;
        }


        &.profile__image-upload--complete {
            svg {
                display: none;
            }
        }
    }

    &__image-instructions {
        margin-left: 16px;
        font-size: remCalc(12);
        line-height: 16px;
        color: $color-gray-secondary;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .dz-preview {
        z-index: 80;
        display: none;
    }

    &__select {
        width: 95%;
        
    }

    &__textarea {
        @extend .textarea;
        height: 207px;
        margin-top: 15px;
        border-radius: 5px!important;
    }

    &__tag-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 16px;

        @include tablet-and-up {
            margin-top: 4px;
        }
    }

    .profile__tag {
        background: $color-white;
        border: 1px solid $color-gray-secondary;
        border-radius: 25px;
        display: inline-block;
        font-size: remCalc(14);
        line-height: 24px;
        color: $color-off-black;
        padding: 8px 16px;
        margin-top: 12px;
        margin-right: 16px; 
        text-decoration: none;
        transition: all 0.3s ease-in;
        letter-spacing: 0.0025em;
        

        &:hover {
            border-color: rgba(215,215,219,1);
            box-shadow: 0px 0px 0px 4px $color-gray-30!important;
        }


        &--active {
            background-color: $color-gray-20;
            border-color: $color-gray-20;
            color: $color-black;
        }
    }

    &__copy {
        font-size: remCalc(20);
        line-height: 28px;
        color: $color-black;
        padding: 0;
        margin: 0;
    }

    &__pronoun {
        font-size: remCalc(16);
        line-height: 24px;
        color: $color-off-black;
        margin-top: 2px;
    }

    &__bio-container {
        margin-bottom: 16px;

        @include tablet-and-up {
            margin-bottom: 24px;
        }

        @include desktop-and-up {
            margin-bottom: 32px;
        }
    }

    &__bio {
        font-size: remCalc(16);
        line-height: 24px;
        color: $color-black;
        margin: 0;
        padding: 0;

        @include tablet-and-up {
            font-size: remCalc(18);
            line-height: 28px;
        }
        
    }

    &__social-card {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        background-color: $color-white;
        
        font-size: remCalc(14);
        line-height: 24px;
        color: $color-gray-secondary;
        width: 100%;
        padding: 16px;

        @include tablet-and-up {
            padding: 24px;
        }

        @include desktop-and-up {
            padding: 32px;
        }
    }

    &__tags-card,
    &__languages-card {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        background-color: $color-white;
        padding: 16px;
        font-size: remCalc(14);
        line-height: 24px;
        color: $color-gray-secondary;
        width: 100%;
        margin-top: 32px;


        @include tablet-and-up {
            padding: 24px;
        }

        @include desktop-and-up {
            padding: 32px;
        }
    }

    &__tags-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 16px;
        flex-wrap: wrap;

        @include tablet-and-up {
            justify-content: space-between;
        }

    }

    &__static-tag {

        border-radius: 50px;
        padding: 10px 15px;
        color: $color-gray-80;
        background-color: $color-gray-20;
        font-size: remCalc(14);
        line-height: 20px;
        margin-right: 12px;

        @include tablet-and-up {
            margin-right: 0;
        }

        
    }

    &__languages-container {
        margin-top: 16px;
        font-size: remCalc(14);
        line-height: 20px;
        color: $color-gray-80;
    }

    &__social-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 18px;
        justify-content: flex-start;

        @include tablet-and-up {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__social-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: remCalc(18);
        line-height: 28px;
        text-decoration: none;
        color: $color-blue-50;
        margin-bottom: 28px;
        margin-right: 16px;
        min-width: 120px;

        svg {
            margin-right: 8px;
            flex-shrink: 0;
        }
    }

    &__group-title  {
        font-family: 'Zilla Slab';
        font-size: remCalc(24);
        line-height: 32px;
        color: $color-off-black;
        margin-bottom: 8px;
    }

    &__heading {
        margin: 0;
        font-family: 'Zilla Slab';
        font-size: remCalc(24);
        line-height: 32px;
        color: $color-black;
        margin-bottom: 16px;
    }

    &__group-member-count,
    &__group-location {
        margin: 0;
        font-size: remCalc(14);
        line-height: 24px;
        color: $color-gray-secondary;
        letter-spacing: 0.0025em;
        margin-bottom: 4px;
    }
    
   &__group-line {
       margin: 16px -16px;    
       height: 1px;
       background-color: $color-gray-20;
       display: block;
       border: none;
       color: $color-gray-20;

       @include tablet-and-up {
            margin: 24px -24px;    
       }

       @include desktop-and-up {
            margin: 32px -32px;    
       }
   }

   &__event {
       display: flex;
       flex-direction: row;
       justify-content: flex-start;
       color: $color-black;
   }

   &__event-date {
       color: $color-blue-50;
       font-size: remCalc(20);
       line-height: 28px;
       width: 36px;
       text-align: center;
       display: flex;
       justify-content: center;
       flex-direction: column;
       margin-right: 24px;
   }

   &__event-title {
       font-size: remCalc(16);
       line-height: 24px;
       margin-bottom: 8px;
       font-weight: 600;
   }

   &__event-location,
   &__event-time {
       font-size: remCalc(14);
       line-height: 20px;
       color: $color-gray-secondary;
       margin-bottom: 8px;

   }
}

