.share-lightbox {
    text-align: center;
}

.share-link-container {
	padding: 0;
	margin: 32px 0;
}


.lightbox__container--share {
	padding: 0;
	.lightbox__flex-container {
		width: 90%;
		margin: 0 auto;
		display: flex;
		justify-content: center;
	}
	.title--secondary {
		font-family: $copy-font;
		font-size: remCalc(20);
		margin: 0;
		padding: 16px;
		border-bottom: 1px solid $color-gray-30;
	}
	.btn--close {
		padding: 16px;
	}
	.share-link .btn {
		border: 1px solid $color-gray-40;
		padding: 16px 59px;
		text-align: center;
		position: relative;
		flex-grow: 1;
	
		&::before {
			content: "";
		}
		.btn--close {
			padding: 16px;
		}
		svg {
			position: absolute;
			left: 16px;
			top: 50%;
			transform: translateY(-50%);
		}

		&:hover,
		&:focus {
			background-color: black;
			color: white;
		}
	}
}

.share-link {
    list-style-type: none;
    padding: 0;
	position: relative;
	display: flex;
	
	&__completed {
		display: none;
	}

	&__copy--complete {
		.share-link__initial {
			display: none;
		}
		.share-link__completed {
			display: block;
		}
	}

    .btn {
        border: 2px solid #000;
        color: #000;
        display: inline-block;
        font-size: remCalc(14);
        margin-bottom: 16px;
        padding: 15px 15px 15px 45px;
        position: relative;
        text-align: left;
        text-decoration: none;
        
        @include tablet-and-up {
            font-size: remCalc(16);
            padding: 15px 15px 15px 82px;
        }
    }
}