.share-lightbox {
    text-align: center;
}

.share-link-container {
    padding: 0;
}

.share-link {
    list-style-type: none;
    padding: 0;
    position: relative;

    &__copy::before,
    &__facebook::before,
    &__twitter::before,
    &__discourse::before,
    &__telegram::before {
        left: 12px;
        position: absolute;
        top: calc(50% - 12px);

        @include tablet-and-up {
            left: 45px;
        }
    }

    &__copy::before {
        content: url('./images/copy.svg');
    }

    &__facebook::before {
        content: url('./images/facebook.svg');
    }

    &__twitter::before {
        content: url('./images/twitter.svg');
    }

    &__discourse::before {
        content: url('./images/discourse.svg')
    }

    &__telegram::before {
        content: url('./images/telegram.svg');
    }

    .btn {
        border: 2px solid #000;
        color: #000;
        display: inline-block;
        font-size: remCalc(14);
        margin-bottom: 16px;
        min-width: 200px;
        padding: 15px 0 15px 45px;
        position: relative;
        text-align: left;
        text-decoration: none;
        
        @include tablet-and-up {
            font-size: remCalc(16);
            min-width: 256px;
            padding: 15px 0 15px 82px;
        }
    }
}