// Screen Sizes
$screen-mobile-min: 320px;
$screen-tablet-min: 600px;
$screen-desktop-min: 972px;

$container-max-width: 1230px;


// Colours
$black: #000;
$white: #fff;

$border-grey: #2F2F2F;
$search-font-color: #CECECE;