@import "normalize/normalize";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Zilla+Slab:400,500,600&display=swap");

@import "mixins";
@import "vars";

@import "utils/grid";
@import "utils/type";
@import "utils/forms";

@import "base";

@import "404";
@import "activities";
@import "activity";
@import "admin";
@import "button";
@import "campaign";
@import "campaigns";
@import "cards";
@import "create-event";
@import "create-group";
@import "footer";
@import "forms";
@import "events";
@import "event-single";
@import "gdpr";
@import "groups";
@import "group";
@import "homepage";
@import "lightbox";
@import "markers";
@import "members";
@import "nav";
@import "page";
@import "profile";
@import "search";
@import "share-lightbox";
@import "tags";
@import "dropzone";
@import "newsletter";
@import "campaign-rsvp";


* {
    box-sizing: border-box;
}

*:focus {
  outline: 1px solid $color-blue-50;
}

html {
    font-family: $copy-font;
    height: 100%;
}

body.noscroll {
    overflow: hidden;
}

body.activity {
    margin-top: 0;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: $copy-font;
    }
}

.content {
    min-height: calc(100vh - 387px - 122px - 96px);
    position: relative;
    width: 100%;

    &.content--homepage {
        min-width: 320px;
        overflow-x: hidden;
    }
}

.body {
    background-color: $color-gray-20;
    height: 100%;
    width: 100%;
    
    &.body--fixed {
        position: fixed;
        @include desktop-and-up {
            position: static;
        }
    }
}