@import "normalize/normalize";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Zilla+Slab:400,500,600&display=swap");

@import "mixins";
@import "vars";
@import "forms";
@import "button";
@import "utils/grid";
@import "utils/type";
@import "utils/forms";

@import "base";
@import "create-event";
@import "create-group";
@import "footer";
@import "events";
@import "groups";
@import "group";
@import "nav";
@import "tags";
@import "profile";
@import "cards";

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Open Sans", sans-serif;
  }
}

.content {
  width: 100%;
  min-height: calc(100vh - 387px - 122px - 96px);
  position: relative;
}

.body {
  background-color: $color-gray-20;
  width: 100%;
  height: 100%;

  &.body--fixed {
    position: fixed;
    @include desktop-and-up {
      position: static;
    }
  }
}
