.title {
  font-family: $main-font-family;
  font-size: remCalc(48);
  font-weight: normal;
  &--main {
    font-size: remCalc(40);
    @include desktop-and-up {
      font-size: remCalc(64);
    }
  }
}

.subtitle {
  font-size: remCalc(16);
  line-height: remCalc(24);
  @include desktop-and-up {
    font-size: remCalc(18);
    line-height: remCalc(28);
  }
}

.btn--small {
  font-size: remCalc(14);
  font-weight: normal;
  line-height: remCalc(22);
  @include desktop-and-up {
    font-size: remCalc(16);
    line-height: remCalc(18);
  }
}

p {
  line-height: remCalc(24);
}
.text--small {
  font-size: 14px;
}

.tag {
  font-size: 12px;
}

.text--light {
  color: $color-gray-secondary;
  line-height: 18px;
  vertical-align: center;
}

.title--card {
  font-size: 24px;
  font-family: "Zilla Slab", sans-serif;
}

.title--secondary {
  font-family: $main-font-family;
  font-weight: normal;
  font-size: remCalc(32);
}
