.text--small {
  font-size: 14px;
}

.tag {
  font-size: 12px;
}

.text--light {
  color: $color-gray-secondary;
  line-height: 18px;
  vertical-align: center;
}

.title--card {
  font-size: 24px;
  font-family: "Zilla Slab", sans-serif;
}
