# https://docs.github.com/en/actions

name: "Code Standards"

on:
  pull_request:
    branches:
      - "master"
  push:
    branches:
      - "master"
      - "707"

jobs:
  phpcs:
      name: WPCS
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - name: WPCS check
          uses: 10up/wpcs-action@develop
          with:
            use_local_config: 'true'
